<% provide(:title, "Dashboard") %>
<div class="maincontent">
  <div class="row">

    <div class="column-6 column-md-12">

      <div class="row">

        <div class="column-6">
          <%= link_to locked_documents_path do %>
          <div class="widget widget--two">
            <div class="widget__numbers">
              <span class="widget__value"><%= Document.locked.count %></span>
              <p class="widget__title"> Rechnungen zum freigeben</p>
            </div>
          </div><!-- /.widget -->
          <% end %>
        </div><!-- /.column-3 -->

        <div class="column-6">
          <%= link_to unpaid_documents_path do %>
          <div class="widget widget--three">
            <div class="widget__numbers">
              <span class="widget__value"><%= Document.unlocked_and_not_paid.count %></span>
              <p class="widget__title"> nicht bezahlte Rechnungen</p>
            </div>
          </div><!-- /.widget -->
          <% end %>
        </div><!-- /.column-3 -->

        <div class="column-6">
          <%= link_to dashboard_tasks_priority_path do %>
          <div class="widget ">
            <div class="widget__numbers">
              <span class="widget__value"><%= Task.unfinished.priority.count%></span>
              <p class="widget__title"> wichtige Aufgaben</p>
            </div>
          </div><!-- /.widget -->
          <% end %>
        </div><!-- /.column-3 -->

        <div class="column-6">
          <%= link_to dashboard_tasks_open_path do %>
          <div class="widget widget--four">
            <div class="widget__numbers">
              <span class="widget__value"><%= Task.open.count %></span>
              <p class="widget__title"> offene Aufgaben</p>
            </div>
          </div><!-- /.widget -->
          <% end %>
        </div><!-- /.column-6 -->


      </div><!-- /.row -->

    </div><!-- /.column-6 -->

    <div class="column-6">
        <%= link_to dashboard_tasks_open_path do %>
        <div class="widget">
          <div class="widget__numbers">
            <span class="widget__value"><%= Task.fault.count %></span>
            <p class="widget__title"> Störungen</p>
          </div>
        </div><!-- /.widget -->
        <% end %>
    </div><!-- /.column-6 -->



  </div><!-- /.row -->

  <div class="row">

    <div class="column-4">
      <div class="widget">
        <h3 class="panel__title">Offene Aufgaben</h3>
        <%#= Task.where('created_at >= ?', 1.week.ago).count %>
        <%#= @tasks_fault_open %>
        <div class="canvas-holder half">
          <canvas id="tasks" width="180" height="180"></canvas>
        </div>
      </div>
    </div>

    <div class="column-4">
      <div class="widget">
        <h3 class="panel__title">Heutige Aufgaben</h3>
        <% if Task.today.size > 0 %>
          <ol>
            <% Task.today.each do |t| %>
              <li><%= t.category.name  %>- <%=  t.completed_at %></li>
            <% end %>
          </ol>
        <% else %>
          <p>
            Es wurden für heute keine Aufgaben eingetragen.
          </p>
        <% end %>
      </div>
    </div><!-- /.column-4 -->

    <div class="column-4">
      <div class="widget">
        <p class="widget__title">Die letzten Aktivitäten</p>
        <ol class="list">
          <% Activity.recent(5).each do |activity| %>
            <li class="list-item">
              <div class="activity-body">
                <span class="activity-user"><%= activity.user.full_name %>&nbsp;</span>
                <div class="activity-title">
                  <%= render partial: "activities/#{activity.targetable_type.underscore}/#{activity.action}", locals: { activity: activity } %>
                </div>
                <span class="activity-timestamp"><%= 'vor ' + time_ago_in_words(activity.created_at) %></span>
              </div>
            </li>
          <% end %>
        </ol>
      </div>
    </div>

  </div><!-- /.row -->

</div><!-- /.maincontent -->

<!-- <p><%#= Date.today.beginning_of_week %></p> -->
<!-- <p><%#= Date.beginning_of_week() %></p> -->
<!-- <p><%#= Date.today.at_beginning_of_quarter() %></p>
<p><%#= Date.today.at_beginning_of_month() %></p>
<p><%#= Date.today.at_beginning_of_year() %></p>
<p><%#= Date.today.days_to_week_start %></p> -->

<script>
  var data = [
    {
      value: <%= @tasks_fault_open %>,
      label: 'Störungen',
      color: '#811BD6'
    },
    {
      value: <%= @tasks_maintenance_open %>,
      label: 'Wartungen',
      color: '#9CBABA'
    },
    {
      value: <%= @tasks_repair_open %>,
      label: 'Reparaturen',
      color: '#34DADA'
    },
  ];

var canvas = document.getElementById("tasks");
var ctx = canvas.getContext("2d");
new Chart(ctx).Doughnut(data, {
  animateRotate : false,
  // Boolean - whether or not the chart should be responsive and resize when the browser does.
  responsive: true,
  //Number - The percentage of the chart that we cut out of the middle
  percentageInnerCutout : 60 // This is 0 for Pie charts
});

</script>
