<% provide(:title, 'Aufgaben') %>

<% if @tasks.all.size > 0 %>

  <div class="toolbar row">
    <div class="column-8">

      <div class="btn-group dropdown">
          <%= link_to 'Alle', dashboard_tasks_path, :class => "btn btn-default" %>

          <button class="btn btn-default dropdown-toggle" type="button">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <%= link_to dashboard_tasks_finished_path do %>
                Erledigt
              <% end %>
            </li>
            <li>
              <%= link_to dashboard_tasks_active_path do %>
                In Bearbeitung
              <% end %>
            </li>
            <li>
              <%= link_to dashboard_tasks_open_path do %>
                Offen
              <% end %>
            </li>
            <li>
              <%= link_to dashboard_tasks_priority_path do %>
                Unerledigt + Wichtig
              <% end %>
            </li>
          </ul>
      </div>
    </div><!-- /.column-8 -->

    <div class="column-4">
      <% if can? :create, @task %>
        <%= link_to 'Aufgabe anlegen', new_task_path, :class => "btn btn-primary pull-right" %>
      <% end %>
    </div><!-- /.column-4 -->
  </div>

  <table class="table data-table dataTables" id="datatable">
    <thead>
      <tr>
        <th colspan="2"><%= sortable "category_id", "Kategorie"%></th>
        <th><%= sortable "elevator_id", "Ort"%></th>
        <th><%= sortable "due_at", "Fälling in"%></th>
        <th><%= sortable "created_at", "Erstellt am"%></th>
        <th><%= sortable "completed_at", "Erledigt am"%></th>
        <th><%= sortable "status_id", "Status"%></th>
        <th>Bearbeiten</th>
      </tr>
    </thead>

    <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td style="width:20px; padding: 20px 0 20px 10px;">
          <% if task.has_priority %>
            <span class="icon-flag-line" style="color:rgb(251, 186, 74)"></span>
          <% end %>
        </td>
        <td>
          <%= link_to task.category.name, task %>
          </td>
        <td>
          <% if task.elevator.present? %>
            <%= task.elevator.street %>
          <% else %>
            kein Eintrag vorhanden
          <% end %>
        </td>
        <% if task.due_at.past? != true %>
          <td><%= distance_of_time_in_words(task.due_at, Time.now) %></td>
        <% else %>
          <td>vor <%= distance_of_time_in_words(task.due_at, Time.now) %></td>
        <% end %>
        <td><%= task.created_at.strftime("%d.%m.%Y") %></td>
        <td>
          <% if task.completed_at != nil %>
            <%= l task.completed_at, format: :dmy %>
          <% end %>
        </td>
        <td><span class="label label--<%= task.status.id %>"><%= task.status.name %></span></td>
        <td>
          <% if can? :update, task %>
            <%= link_to edit_task_path(task) do %>
              <%= content_tag :span, "", :class => "icon-pencil" %>
            <% end %>
          <% end %>

          <% if can? :delete, task %>
            <%= link_to task_path(task), method: :delete, data: { confirm: 'Sind sie sich sicher?' } do %>
              <%= content_tag :span, "", :class => "icon-bin-2" %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <div class="">
    <%= link_to dashboard_tasks_path(format: :csv), class: "btn btn-default" do %>
      <span class="icon-import" style="font-size:18px;"></span>
      <span class="menu-item__text">Download CSV-Datei</span>
    <% end %>
  </div>

  <% else %>

    <div class="row">
      <div class="column-12 blank-slate">
        <div class="">

        <svg version="1.1" id="Ebene_2" viewBox="0 0 382 203">
         <path fill="#E4E4E4" d="M182,12c0,2.209-1.791,4-4,4H4c-2.209,0-4-1.791-4-4V4c0-2.209,1.791-4,4-4h174c2.209,0,4,1.791,4,4V12z"/>
         <path fill="#979797" d="M82.082,56.011c0,2.209-1.791,4-4,4H4c-2.209,0-4-1.791-4-4v-8c0-2.209,1.791-4,4-4h74.082
	c2.209,0,4,1.791,4,4V56.011z"/>
         <path fill="#F4F4F4" d="M382,93.417c0,2.209-1.791,4-4,4H4c-2.209,0-4-1.791-4-4v-8c0-2.209,1.791-4,4-4h374c2.209,0,4,1.791,4,4
	V93.417z"/>
         <path fill="#FFFAC2" d="M382,128.443c0,2.209-1.791,4-4,4H4c-2.209,0-4-1.791-4-4v-8c0-2.209,1.791-4,4-4h374c2.209,0,4,1.791,4,4
	V128.443z"/>
         <path fill="#F4F4F4" d="M382,163.443c0,2.209-1.791,4-4,4H4c-2.209,0-4-1.791-4-4v-8c0-2.209,1.791-4,4-4h374c2.209,0,4,1.791,4,4
	V163.443z"/>
         <path fill="#F4F4F4" d="M382,198.482c0,2.209-1.791,4-4,4L4,202.443c-2.209,0-4-1.791-4-4v-8c0-2.209,1.791-4,4-4l374,0.039
	c2.209,0,4,1.791,4,4V198.482z"/>
         <path fill="#979797" d="M182,55.989c0,2.209-1.791,4-4,4h-74.082c-2.209,0-4-1.791-4-4v-8c0-2.209,1.791-4,4-4H178
	c2.209,0,4,1.791,4,4V55.989z"/>
         <path fill="#979797" d="M282.021,55.989c0,2.209-1.791,4-4,4h-74.082c-2.209,0-4-1.791-4-4v-8c0-2.209,1.791-4,4-4h74.082
	c2.209,0,4,1.791,4,4V55.989z"/>
         <path fill="#979797" d="M382,55.985c0,2.207-1.789,3.996-3.996,3.996h-74.008c-2.207,0-3.996-1.789-3.996-3.996v-7.992
	c0-2.206,1.789-3.996,3.996-3.996h74.008c2.207,0,3.996,1.79,3.996,3.996V55.985z"/>
         <path fill="#F4F4F4" d="M382,12c0,2.209-1.791,4-4,4h-66c-2.209,0-4-1.791-4-4V4c0-2.209,1.791-4,4-4h66c2.209,0,4,1.791,4,4V12z"/>
        </svg>


        </div>

        <div class="blank-slate__message">
          <h2>Hier werden Ihnen alle Aufgaben angezeigt</h2>
          <p>Erstellen Sie eine Aufgabe indem Sie auf den Button klicken.</p>
        </div>
        <% if can? :create, @task %>
          <%= link_to 'Aufgabe erstellen', new_task_path, :class => "btn btn-primary" %>
        <% end %>
      </div>

    </div>
  <% end %>

  <script type="text/javascript">

  $(function() {

  	initDropDowns($(".dropdown"));

  });

  function initDropDowns(allMenus) {

  	allMenus.children(".dropdown-toggle").on("click", function() {

  		var thisTrigger = jQuery(this),
  			thisMenu = thisTrigger.parent(),
  			thisPanel = thisTrigger.next();

  		if (thisMenu.hasClass("open")) {

        		thisMenu.removeClass("open");

        		jQuery(document).off("click");
        		thisPanel.off("click");

  		} else {

      		allMenus.removeClass("open");
  			thisMenu.addClass("open");

  			jQuery(document).on("click", function() {
  				allMenus.removeClass("open");
  			});
  			thisPanel.on("click", function(e) {
  				e.stopPropagation();
  			});
  		}

  		return false;
  	});
  }

  jQuery(function() {
  jQuery('.dropdown-menu li').each(function() {
    var href = jQuery(this).find('a').attr('href');
    if (href === window.location.pathname) {
      jQuery(this).addClass('current');
    }
  });
});


  </script>
