<%- headers = ['ID', 'Kategorie', 'Erledigt am', 'Straße', 'Postleitzahl', 'Ort', 'Fälligkeit', 'Erstellt am', 'Projekt', 'Status', 'Hat Priorität' ] -%>
<%= CSV.generate_line headers %>
<%- @tasks.each do |task| -%>
  <%= CSV.generate_line([task.id, task.category.name, task.completed_at, task.elevators.first.street, task.elevators.first.postal_code.to_s, task.elevators.first.city, task.due_at, task.created_at, task.project_id, task.status.name, task.has_priority]) %>
<%- end -%>
