<%- headers = ['ID', 'Task_ID', 'Hours', 'Date', 'Description', 'Created_at', 'Updated_at', 'User_ID', 'Start_time', 'End_time', 'Break' ] -%>
<%= CSV.generate_line headers %>
<%- @time_entries.each do |time_entry| -%>
  <%= CSV.generate_line([time_entry.id, time_entry.task_id, time_entry.hours, time_entry.date, time_entry.description, time_entry.created_at, time_entry.updated_at, time_entry.user_id, time_entry.start_time, time_entry.end_time, time_entry.break]) %>
<%- end -%>
