<table>
  <tr>
    <th>Name</th>
    <th>Datum</th>
    <th>Startzeit</th>
    <th>Endzeit</th>
    <th>Stunden</th>
    <th>Pausenzeit</th>
    <th>Aufgabe</th>
    <th>Projekt</th>
    <th>Kunde</th>
    <th>Anlage</th>
  </tr>
  <% @time_entries.each do |time_entry| %>
  <tr>
    <td><%= time_entry.user.full_name %></td>
    <td><%= l time_entry.date, format: :default %></td>
    <td><%= l time_entry.start_time, format: :hm %></td>
    <td><%= l time_entry.end_time, format: :hm %></td>
    <td><%= number_to_human(date_range(time_entry.end_time, time_entry.start_time, time_entry.break), separator: '.') %></td>
    <td><%= break_in_words(time_entry.break) %></td>
    <% if time_entry.task.present? %>
      <td><%= time_entry.task.category.name %></td>
    <% else %>
      <td>Die Aufgabe wurde geloescht</td>
    <% end %>

    <% if time_entry.task.present? && time_entry.task.project_id.present? %>
      <td><%= time_entry.task.project.name %></td>
    <% else %>
      <td>Kein Projekt zugeordnet</td>
    <% end %>

    <% if time_entry.task.present?  %>
      <td><%= time_entry.task.elevator.customer.name %></td>
    <% else %>
      <td>Die Aufgabe wurde geloescht</td>
    <% end %>

    <% if time_entry.task.present?  %>
      <td><%= time_entry.task.elevator.number %></td>
    <% end %>
  </tr>
  <% end %>
</table>
