<% provide(:title, 'Zeiteinträge') %>

<% if @time_entries.size > 0 %>

<div class="toolbar row">
  <div class="column-12">
    <div class="btn-group dropdown">
      <%= link_to 'Alle', dashboard_timeentries_path, :class => "btn btn-default" %>
      <button type="button" class="btn btn-default dropdown-toggle">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <%= link_to dashboard_timeentries_week_path do %>
            Diese Woche
            <!--<span class="badge"><%#= @documents.unlocked.count %></span>-->
          <% end %>
        </li>
        <li>
          <%= link_to dashboard_timeentries_month_path do %>
            Diesen Monat
            <!--<span class="badge"><%#= @documents.unlocked.count %></span>-->
          <% end %>
        </li>

      </ul><!-- /.dropdown-menu -->
    </div><!-- /.btn-group -->
  </div><!-- /.column-12 -->
</div>

  <div class="maincontent">

    <table class="table data-table dataTables" id="datatable">
      <thead>
        <tr>
          <th>Name</th>
          <th>Datum</th>
          <th>Startzeit</th>
          <th>Endzeit</th>
          <th>Stunden</th>
          <th>Pausenzeit</th>
          <th>Aufgabe</th>
          <th>Projekt</th>
          <th>Kunde</th>
          <th>Anlage</th>
        </tr>
      </thead>

      <tbody>
        <% @time_entries.each do |time_entry| %>
          <tr>
            <td><%= time_entry.user.full_name %></td>
            <td><%= l time_entry.date, format: :default %></td>
            <td><%= l time_entry.start_time, format: :hm %></td>
            <td><%= l time_entry.end_time, format: :hm %></td>
            <td><%= number_to_human(date_range(time_entry.end_time, time_entry.start_time, time_entry.break), precision: 5, separator: ',') %>h</td>
            <td><%= break_in_words(time_entry.break) %></td>
            <td>
              <% if time_entry.task.present? %>
              <%= link_to time_entry.task.category.name, time_entry.task %>
              <% else %>
                Die Aufgabe wurde gelöscht.
              <% end %>
            </td>
            <td>
              <% if time_entry.task.present? && time_entry.task.project_id.present? %>
                <%= link_to time_entry.task.project.name, time_entry.task.project %>
              <% else %>
                Kein Projekt zugeordnet.
               <% end %>
            </td>
            <td>
              <% if time_entry.task.present? %>
                  <%=  link_to time_entry.task.elevator.customer.name, time_entry.task.elevator.customer %>
              <% else %>
                 Die Aufgabe wurde gelöscht.
              <% end %>
            </td>
            <td>
              <% if time_entry.task.present? %>
                <%= link_to time_entry.task.elevator.number, time_entry.task.elevator %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div><!-- /.maincontent -->


  <p>
    <%= link_to dashboard_timeentries_path(format: :csv), class: "btn btn-default" do %>
      <span class="icon-import" style="font-size:18px;"></span>
      <span class="menu-item__text">Download CSV-Datei</span>
    <% end %>

    <%= link_to dashboard_timeentries_path(format: :xls), class: "btn btn-default" do %>
      <span class="icon-import" style="font-size:18px;"></span>
      <span class="menu-item__text">Download Excel-Datei</span>
    <% end %>
  </p>

<%#= link_to "Excel", products_path(format: "xls") %>
<% else %>

  <div class="row">
    <div class="column-12 blank-slate">
      <div class="blank-slate__message">
        <h2>Es sind leider keine Zeiteinträge vorhanden</h2>
      </div>
    </div><!-- /.column-12.blank-slate -->
  </div><!-- /.row -->

<% end %>

<script type="text/javascript">

$(function() {

  initDropDowns($(".dropdown"));

});

function initDropDowns(allMenus) {

  allMenus.children(".dropdown-toggle").on("click", function() {

    var thisTrigger = jQuery(this),
      thisMenu = thisTrigger.parent(),
      thisPanel = thisTrigger.next();

    if (thisMenu.hasClass("open")) {

          thisMenu.removeClass("open");

          jQuery(document).off("click");
          thisPanel.off("click");

    } else {

        allMenus.removeClass("open");
      thisMenu.addClass("open");

      jQuery(document).on("click", function() {
        allMenus.removeClass("open");
      });
      thisPanel.on("click", function(e) {
        e.stopPropagation();
      });
    }

    return false;
  });
}

jQuery(function() {
jQuery('.dropdown-menu li').each(function() {
  var href = jQuery(this).find('a').attr('href');
  if (href === window.location.pathname) {
    jQuery(this).addClass('current');
  }
});
});


</script>
