<% provide(:title, 'Mitarbeiter') %>
<div class="maincontent">
  <div class="pull-right">
    <%= link_to 'Neuen Mitarbeiter anlegen', new_user_path, class: 'btn btn-primary' %>
  </div>

  <table class="table data-table">
    <thead>
      <tr>
        <th>Vorname</th>
        <th>Nachname</th>
        <th>Email</th>
        <th>Role</th>
        <th>Funktionen</th>
      </tr>
    </thead>

    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%=  user.last_name %></td>
        <td><%=  user.email %></td>
        <td>
          <% user.users_roles.each do |user_role| %>
            <%= user_role.role.name %>
          <% end %>
        </td>
        <td>
          <%= link_to edit_user_path(user) do %>
            <%= content_tag :span, "", :class => "icon-pencil" %>
          <% end %>

          <%= link_to user, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <%= content_tag :span, "", :class => "icon-bin" %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

</div><!-- /.maincontent -->
