<% if activity.action != 'deleted'  %>
  hat eine <b>neue Aufgabe</b> erstellt.
  <p><%= link_to "#{activity.targetable_type} #{activity.targetable_id}", task_path(activity.targetable_id) %></p>
<% end %>
