<% if activity.action != 'deleted'  %>
  hat eine Aufgabe erledigt.
  <p><span class="icon-check-circle" style="color: #50e481"></span><%= link_to "#{activity.targetable_type} #{activity.targetable_id}", task_path(activity.targetable_id) %></p>
<% end %>
