// ==========================================================================
// Base Styles
// ==========================================================================

* { -moz-box-sizing: border-box; box-sizing: border-box; }

body {
  font-family: $font-family--primary;
  font-size: $base__font-size;
  line-height: ($base__line/$base__font-size);
}

h1 {
  color: palette(grey, x-dark);
  font-size: em(42px);
  font-weight: $font-weight--light;
  line-height: (46px / 42px);
  margin-bottom: em(70px, 42px);
}

h2 {
  color: palette(grey, light);
  font-family: $font-family--primary;
  font-size: em(24px);
  font-weight: $font-weight--thin;
}
