html {
  font-size: 62.5%; /* Sets up the Base 10 stuff */
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
body {
  background: $body-background;
  color: $color-text;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: normal;
  @include font-size(1.4);

}

a { color: #333;}

// -----------------------------------------------------------------------------
//
// Main page layout - Left Nav + Content
//
// -----------------------------------------------------------------------------

.globalsidebar {
  background-color: $globalsidebar-bg;
  bottom: 0;
  left: -280px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 280px;
  z-index: 1000;

  -webkit-transition: -webkit-transform 400ms cubic-bezier(0.05,0.74,0.27,0.99);
  -moz-transition: -moz-transform 400ms cubic-bezier(0.05,0.74,0.27,0.99);
  -o-transition: -o-transform 400ms cubic-bezier(0.05,0.74,0.27,0.99);
  transition: transform 400ms cubic-bezier(0.05,0.74,0.27,0.99);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}

.sidebar-menu { overflow: hidden; position: absolute; -webkit-overflow-scrolling: touch; }

.lists-scroll {
  bottom: 0;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  right: 0;
  top:  48px;
}

  .globalsidebar [class^="icon-"],
  .globalsidebar [class*=" icon-"] {
    display: inline-block;
    @include font-size(1.9);
    margin-right: 10px;
    /* vertical-align: middle; */
  }



  // Place for Logo, Brandname etc.
  .globalsidebar-header { background-color: $globalsidebar-header-bg; display: block; height:48px; }


/*
@media only screen and (max-width: 1223px) {
  .globalsidebar {
    display: none;
    left: 0!important;
    z-index: auto;
    -webkit-transform: translate3d(0,0px,0px)!important;
    transform: translate3d(0,0px,0px)!important;
  }

  .globalsidebar--open .globalsidebar { display: block; }


  body.globalsidebar-open .page-container {
    -webkit-transform: translate3d(250px,0,0);
    transform: translate3d(250px,0,0);
    -ms-transform: translate(250px,0);
    overflow: hidden;
    position: fixed;
  }
}
*/

// Globalheader
.globalheader {
  background: none repeat scroll 0 0 $globalheader-background;
  border-bottom: 1px solid rgba(230, 230, 230, .7);
  height: 48px;
  left: 0;
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 8000;
}

  .globalheader-title {
    display: block;
    @include font-size(1.8);
    line-height: 48px;
    margin: 0 auto;
    overflow: hidden;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @media (min-width: 992px) {
    .globalheader-title { text-align: left; }
  }


// menu button for small displays which open the display
#mobile-menu-button {
  cursor: pointer;
  display: block;
  @include font-size(2.0);
  left: 0;
  padding: 8px;
  position: fixed;
  top: 0px;
  z-index: 900;
}

@media only screen and (min-width : 768px) {
  #mobile-menu-button { display: none; } //hide the mobile menu botton on large screens
}

.page-content {
  margin: 0 auto;
  padding-bottom: 100px;
  padding-top: 48px;
  width: 96%;
}

// when sidebar is open/visible
.globalsidebar--open .page-container  {
  overflow: hidden;
  position: fixed;
  -webkit-transform: translate3d(250px,0,0);
  transform: translate3d(250px,0,0);
  -ms-transform: translate(250px,0);
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 992px) {
  .globalsidebar {
    left: 0;
    overflow: hidden;
    position: fixed;
  }
  .page-container { padding-left: 280px; }
  .globalheader  {
    left: 280px;
  }
}

.page-container { height: 100%; width: 100%;}
  .page-container .page-content-wrapper { min-height: 100%; position: relative;  }

@media only screen and (max-width: 991px) {
  .page-sidebar~.page-container { padding-left: 0; }

  .globalsidebar { display: none; left: 0!important; width: 250px; z-index: auto; }
  .globalsidebar--open .globalsidebar { display: block; }
}

.mainnavigation {
  list-style: none;
  margin: 0;
  overflow: hidden!important;
  padding: 0;
  position: relative;
  width: 100%;

  -webkit-overflow-scrolling: touch;
}

.mainnavigation-label {
  color: $mainnavigation-label;
  @include font-size(1.1);
  letter-spacing: 0.1em;
  padding: 12px 15px;
  text-transform: uppercase;
}

.scroll-content {
  bottom: 51px;
  left:0;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  right: 0;
  top: 50px
}

.mainnavigation ul { width: 280px; }
.mainnavigation ul li {
  display: block;
  clear: right;
  line-height: 20px;
  padding: 0;
}
.mainnavigation li a {
  color: $mainnavigation-link; // #$mainnavigation-link
  @include font-size(1.4);
  font-weight: 400;
  letter-spacing: .025em;
  padding: 12px 15px;
  display: block;
  position: relative;

  &:hover {
    background: darken($globalsidebar-bg, 4%);
    color: $mainnavigation-link-hover;
    //background: #ebf2fb;
    //color: #328ff1;
  }
}

.menu-item .active,
.menu-item .active:hover { background-color: #4d7dd6; color: #fff; }
.maincontent { }

/* Desktops and laptops ----------- */
@media only screen and (min-width : 768px) {
  .mainnavigation li a {
    border-radius: 3px;
    cursor: pointer;
    display: block;
    line-height: 1.6em;
    margin: 0 8px;
    min-height: 30px;
    overflow: hidden;
    padding: 4px 7px;
    position: relative;
  }
  .menu-item__text {}
}

// -----------------------------------------------------------------------------
//
// Right Sidebar
//
// -----------------------------------------------------------------------------


.offcanvas {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1032;
  display:none;

}
.sidebar-right {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  min-width: 8px;
  background-color: #ffffff;
  overflow: auto;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: -webkit-transform 0.33s ease-in;
  -moz-transition: -moz-transform 0.33s ease-in;
  -o-transition: -o-transform 0.33s ease-in;
  transition: transform 0.33s ease-in;

    -webkit-box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.38);
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.38);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.22, 0.99, 0.68, 0.98);
  -moz-transition: -moz-transform 0.5s cubic-bezier(0.22, 0.99, 0.68, 0.98);
  -o-transition: -o-transform 0.5s cubic-bezier(0.22, 0.99, 0.68, 0.98);
  transition: transform 0.5s cubic-bezier(0.22, 0.99, 0.68, 0.98);

    -webkit-transform: translate(-320px, 0px);
  transform: translate(-320px, 0px);

  width: 320px;
}
.sidebar-right-content {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.sidebar-right-content > .sidebar-scroll {
  position: absolute;
  overflow: scroll;
  overflow-x: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


// -----------------------------------------------------------------------------
//
// Login Page
//
// -----------------------------------------------------------------------------

.login-container {
  margin-top: 10px;
  padding-left: 2%;
  padding-right: 3%;
}

  .login-container h1 { margin-bottom: 20px; text-align: center; }

  form.new_user { padding-top: 15px; }

  /* Desktops and laptops ----------- */
  @media only screen and (min-width : 768px) {
    .login-container {
      margin-top: 100px;
      margin-left: auto;
      margin-right: auto;
      width: 70%;
    }
  }


// -----------------------------------------------------------------------------
//
// MISC
//
// -----------------------------------------------------------------------------
.list-item .icon-warning-circle,
.list-group .icon-warning-circle,
.globalheader-title .icon-warning-circle,
.table .icon-warning-circle { color: red; vertical-align: text-middle; }
.list-item .icon-flag-2-full,
.list-item .icon-flag-line,
.globalheader-title .icon-flag-2-full,
.globalheader-title .icon-flag-line,
.table .icon-flag-2-full,
.table .icon-flag-line,
.table .icon-flag-line-full { color: orange}


// -----------------------------------------------------------------------------
//
// IPAD LAYOUT
//
// -----------------------------------------------------------------------------

  /* Desktops and laptops ----------- */
  @media only screen and (min-width : 768px)
  and (max-width : 1024px) {
    .globalsidebar { width: 60px; display: block; left: 0; overflow: hidden;position: fixed;}
      .globalsidebar [class^="icon-"],
      .globalsidebar [class*="icon-"] { margin-right: 0; }
      .mainnavigation {margin-top:10px;}
      .mainnavigation-label {display: none;}
      .mainnavigation ul { width: 60px; }
      .mainnavigation li a { padding: 12px 0; text-align:center;}
      .menu-item__text { display: none; }
    .page-container { padding-left: 60px; }
    .globalheader { left: 60px; }
  }
