@mixin rounded-corners ($radius: $border-radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius:    $radius;
  border-radius:         $radius;
}

@mixin border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}


// Usage: p { @include font-size(13, 2);} 
@mixin font-size($sizeValue: 1.6, $lineValue: $sizeValue * 1.5) {
  font-size:   ($sizeValue * 10) + px;
  line-height: ($lineValue * 10) + px;
  font-size:   $sizeValue + rem;
  line-height: $lineValue + rem;
}