// -----------------------------------------------------------------------------
// Html5 Elements
// -----------------------------------------------------------------------------

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

// -----------------------------------------------------------------------------
// Slim Normalize - See normalize source code for clarification on rule purposes
//
// I have slimmed it down to adapt it for our supported browser set
//
// https://github.com/necolas/normalize.css
// -----------------------------------------------------------------------------

html {
  overflow-y: scroll;
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
}

form, input, button, select, textarea { font-size: 100%; }

b, strong { font-weight: bold; }

a, a:active, a:hover, a:visited { outline: none; text-decoration: none; }

a:focus { outline: thin dotted; }

img {
  border: 0;
  height: auto !important;
  width: auto;
  max-width: 100%;
  -ms-interpolation-mode: bicubic;
}

button, input, select, textarea {
  border-radius: 0;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input { line-height: normal; }

button, input { overflow: visible; margin: 0; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }

textarea { overflow: auto; vertical-align: top;}

input,
textarea { width: 100%; }

table { border-collapse: collapse; border-spacing: 0; }

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup { top: -0.45em; }

sub { bottom: -0.25em; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }


// Override Chrome's agressive defaults
hr { border: none; border-bottom: 1px solid #666; }

// -----------------------------------------------------------------------------
// Slim Reset
// -----------------------------------------------------------------------------

html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, cite, code,em, img,q, strong, sub, sup,dl, dt, dd, ol, ul, li,fieldset, form, label, table, tbody, tfoot, thead, tr, th, td,article, aside, canvas, figure, figcaption, footer, header, hgroup, nav, section, time, mark, audio, video, input, textarea {
  margin: 0;
  padding: 0;
}

ul,
ol { list-style: none; }


a > img { display: block; }

h1,h2,h3,h4,h5,h6 { text-rendering: optimizeLegibility; font-weight: normal; }

fieldset { border: none; }

// This will make sure that padding applied to our elements is added within their calculated dimensions,
// giving us far more freedom for defining column widths.
*,
*:after,
*:before {
  margin: 0;
  padding: 0;

  @include border-box;

}
