@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:300,400,600|Open+Sans:400,600,300|Arvo:300,400,700|Lato:300,400,700);


@font-face {
	font-family: 'crm-icon';
	src:font-url('crm-icon.eot?4d1qm1');
	src:font-url('crm-icon.eot?#iefix4d1qm1') format('embedded-opentype'),
		font-url('crm-icon.ttf?4d1qm1') format('truetype'),
		font-url('crm-icon.woff?4d1qm1') format('woff'),
		font-url('crm-icon.svg?4d1qm1#crm-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'crm-icon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  display: inline-block;
  text-transform: none;
  @include font-size(1.6);
  line-height: 1;
  position: relative;
  top: 1px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.icon-elevator:before {
  content: $icon-elevator;
}

.icon-address-book:before {
  content: $icon-address-book;
}

.icon-arrow-down:before {
  content: $icon-arrow-down;
}

.icon-arrow-up:before {
  content: $icon-arrow-up;
}

.icon-arrows-double-out:before {
  content: $icon-arrows-double-out;
}

.icon-arrows-four-out:before {
  content: $icon-arrows-four-out;
}

.icon-bin:before {
  content: $icon-bin;
}

.icon-blitz:before {
  content: $icon-blitz;
}

.icon-boat:before {
  content: $icon-boat;
}

.icon-check-circle:before {
  content: $icon-check-circle;
}

.icon-check-squared:before {
  content: $icon-check-squared;
}

.icon-check:before {
  content: $icon-check;
}

.icon-clock:before {
  content: $icon-clock;
}

.icon-coffee-cup:before {
  content: $icon-coffee-cup;
}

.icon-company:before {
  content: $icon-company;
}

.icon-cross:before {
  content: $icon-cross;
}

.icon-folder:before {
  content: $icon-folder;
}

.icon-hamburger-menu:before {
  content: $icon-hamburger-menu;
}

.icon-image:before {
  content: $icon-image;
}

.icon-mail:before {
  content: $icon-mail;
}

.icon-map-marker:before {
  content: $icon-map-marker;
}

.icon-menu-left:before {
  content: $icon-menu-left;
}

.icon-off:before {
  content: $icon-off;
}

.icon-padlock-keyhole-open:before {
  content: $icon-padlock-keyhole-open;
}

.icon-padlock-keyhole:before {
  content: $icon-padlock-keyhole;
}

.icon-padlock-open:before {
  content: $icon-padlock-open;
}

.icon-padlock:before {
  content: $icon-padlock;
}

.icon-paperclip:before {
  content: $icon-paperclip;
}

.icon-pencil:before {
  content: $icon-pencil;
}

.icon-pulse:before {
  content: $icon-pulse;
}

.icon-signal:before {
  content: $icon-signal;
}

.icon-star-full:before {
  content: $icon-star-full;
}

.icon-star:before {
  content: $icon-star;
}

.icon-stats-full:before {
  content: $icon-stats-full;
}

.icon-stats-line:before {
  content: $icon-stats-line;
}

.icon-target:before {
  content: $icon-target;
}

.icon-three-points:before {
  content: $icon-three-points;
}

.icon-user-circle:before {
  content: $icon-user-circle;
}

.icon-user:before {
  content: $icon-user;
}

.icon-warning-circle:before {
  content: $icon-warning-circle;
}

.icon-warning:before {
  content: $icon-warning;
}

.icon-archiv:before {
  content: $icon-archiv;
}
.icon-bin-2:before {
  content: $icon-bin-2;
}
.icon-calendar:before {
  content: $icon-calendar;
}
.icon-credit-card:before {
  content: $icon-credit-card;
}
.icon-export:before {
  content: $icon-export;
}
.icon-flag-2-full:before {
  content: $icon-flag-2-full;
}
.icon-flag-2-line:before {
  content: $icon-flag-2-line;
}
.icon-flag-line-full:before {
  content: $icon-flag-line-full;
}
.icon-flag-line:before {
  content: $icon-flag-line;
}
.icon-hammer:before {
  content: $icon-hammer;
}
.icon-helper:before {
  content: $icon-helper;
}
.icon-import:before {
  content: $icon-import;
}
.icon-minus:before {
  content: $icon-minus;
}
.icon-paper-list:before {
  content: $icon-paper-list;
}
.icon-pencil:before {
  content: $icon-pencil;
}
.icon-plus:before {
  content: $icon-plus;
}
.icon-search:before {
  content: $icon-search;
}
.icon-stop-circle:before {
  content: $icon-stop-circle;
}
.icon-three-points-vertical:before {
  content: $icon-three-points-vertical;
}
.icon-world:before {
  content: $icon-world;
}
.icon-elevator:before {
  content: $icon-elevator;
}
.icon-address-book:before {
  content: $icon-address-book;
}
.icon-arrow-down:before {
  content: $icon-arrow-down;
}
.icon-arrow-up:before {
  content: $icon-arrow-up;
}
.icon-arrows-double-out:before {
  content: $icon-arrows-double-out;
}
.icon-arrows-four-out:before {
  content: $icon-arrows-four-out;
}
.icon-bin:before {
  content: $icon-bin;
}
.icon-blitz:before {
  content: $icon-blitz;
}
.icon-boat:before {
  content: $icon-boat;
}
.icon-check-circle:before {
  content: $icon-check-circle;
}
.icon-check-squared:before {
  content: $icon-check-squared;
}
.icon-check:before {
  content: $icon-check;
}
.icon-clock:before {
  content: $icon-clock;
}
.icon-coffee-cup:before {
  content: $icon-coffee-cup;
}
.icon-company:before {
  content: $icon-company;
}
.icon-cross:before {
  content: $icon-cross;
}
.icon-folder:before {
  content: $icon-folder;
}
.icon-hamburger-menu:before {
  content: $icon-hamburger-menu;
}
.icon-image:before {
  content: $icon-image;
}
.icon-mail:before {
  content: $icon-mail;
}
.icon-map-marker:before {
  content: $icon-map-marker;
}
.icon-menu-left:before {
  content: $icon-menu-left;
}
.icon-off:before {
  content: $icon-off;
}
.icon-padlock-keyhole-open:before {
  content: $icon-padlock-keyhole-open;
}
.icon-padlock-keyhole:before {
  content: $icon-padlock-keyhole;
}
.icon-padlock-open:before {
  content: $icon-padlock-open;
}
.icon-padlock:before {
  content: $icon-padlock;
}
.icon-paperclip:before {
  content: $icon-paperclip;
}
.icon-pulse:before {
  content: $icon-pulse;
}
.icon-signal:before {
  content: $icon-signal;
}
.icon-star-full:before {
  content: $icon-star-full;
}
.icon-star:before {
  content: $icon-star;
}
.icon-stats-full:before {
  content: $icon-stats-full;
}
.icon-stats-line:before {
  content: $icon-stats-line;
}
.icon-target:before {
  content: $icon-target;
}
.icon-three-points:before {
  content: $icon-three-points;
}
.icon-user-circle:before {
  content: $icon-user-circle;
}
.icon-user:before {
  content: $icon-user;
}
.icon-warning-circle:before {
  content: $icon-warning-circle;
}
.icon-warning:before {
  content: $icon-warning;
}


h1,
h2,
h3,
h4,
h5 {
  color: $color-text-dark;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

h1 { @include font-size(3.6) }
h2 { @include font-size(3) }
h3 { @include font-size(2.4) }
h4 { @include font-size(1.8) }
h5 { @include font-size(1.6) }
