// -----------------------------------------------------------------------------
// COLORS: Fonts, Content
// -----------------------------------------------------------------------------

$color-text                : #626262; // default text (base)
$color-text-dark           : darken($color-text, 20%);
$color-text-light          : lighten($color-text, 16%);
$title-h1                  : #444;

// -----------------------------------------------------------------------------
// COLORS: UI backgrounds and borders
// -----------------------------------------------------------------------------

// Base Colors
$color-primary             : #4a89dc; // soft blue - system theme color
$color-success             : #70ca63; // soft green
$color-warning             : #f8c969; // yellow
$color-danger              : #e9573f; // soft red
$color-edit                : #3b3f4f; // soft grey


// Page Colors
$body-background           : #fff;   //old#f5f5f5; // light grey
$globalsidebar-bg          : #f6f8f9;
$globalsidebar-header-bg   : darken($globalsidebar-bg, 5%);
$globalheader-background   : #fff;  //old #1dcebf; #F43D3D #3a3a3a
$globalheader-text         : #3b4751;

$mainnavigation-link       : #70777b;
$mainnavigation-link-hover : darken($mainnavigation-link, 35%);
$mainnavigation-label      : lighten($mainnavigation-link, 10%);


// -----------------------------------------------------------------------------
// BUTTONS: UI COLORS
// -----------------------------------------------------------------------------

// Default Button - for page settings
$button-default-background  : #fafafa;
$button-text                : #666;
$button-primary-background  : $color-primary;
$button-primary-text        : #fff;
$button-success-background  : $color-success;
$button-success-text        : #fff;
$button-danger-background   : $color-danger;
$button-danger-text         : #fff;
$button-edit-background     : $color-edit;
$button-system-background   : #55ceac; // system color
$button-system-text         : #fff;

// -----------------------------------------------------------------------------
// FORMS: UI COLORS
// -----------------------------------------------------------------------------
$input-text                 : #9f9f9f;
$border-hover               : #999;
$border-hover-light         : lighten($border-hover, 16%);


// -----------------------------------------------------------------------------
// TABLES: UI COLORS
// -----------------------------------------------------------------------------
$table-bg-hover             : #fefbf2; // light yellow


// -----------------------------------------------------------------------------
// COLORS: Highlights
// -----------------------------------------------------------------------------

//$highlight-error           : lighten($red, 25%)
//$highlight-success         : lighten($green, 45%)
//$highlight-warning         : lighten($yella, 20%)
//$highlight-information     : mix($linkblue, #fff, 25%)

// -----------------------------------------------------------------------------
// COLORS: Notices
// -----------------------------------------------------------------------------

$notice-text                : #fff;
$notice-success-bg-2         : #8cd481;
$notice-success-bg        : rgba(236, 255, 235, 0.8);
$notice-success-text        : rgb(107, 196, 111);
$notice-warning-bg          : $color-warning;
$notice-error-bg            : rgba(255, 234, 234, .8);
$notice-error-text          : #f96868;
$notice-error-border-color  : #ffeaea;
// -----------------------------------------------------------------------------
// COLORS: Task statuses
// -----------------------------------------------------------------------------

$task-normal                : #ccc;
$task-active                : yellow;
$task-finished              : #3DF443;


// -----------------------------------------------------------------------------
// COLORS: Badges
// -----------------------------------------------------------------------------
$badge-bg                   : #e4eaec;
$badge-text                 : #76838f;

$badge-success-bg           : #46be8a;
$badge-success-text         : #fff;

// -----------------------------------------------------------------------------
// COLORS: Dropdown Menu
// -----------------------------------------------------------------------------
$dropdown-menu-bg           : #fff;
$dropdown-menu-item-text    : #000;
$dropdown-menu-item-hover   : #000;
$dropdown-menu-hover-bg     : #000;
$dropdown-menu-border       : #efefef;
$dropdown-menu-border-size  : 1px;
$dropdown-menu-border-radius: 2px;

$dropdown-current-link      : rgb(37, 154, 244);
$dropdown-current-link-bg   : rgb(238, 247, 254);
$dropdown-seperator         : #efefef;

// -----------------------------------------------------------------------------
// COLORS: Progressbars
// -----------------------------------------------------------------------------
$progressbar-bg             : #ccc;
$progressbar-value          : #8cd481;
$progressbar-border-radius  : 7px;
$progressbar-height         : 10px;


// -----------------------------------------------------------------------------
// COLORS: Widgets
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// GRID
// -----------------------------------------------------------------------------
$grid-max-columns           : 12;
$grid-gutter-width          : 20px;
$grid-max-width: 65em;


// breakpoints
$breakpoint-small: "only screen and (min-width: 20em)";
$breakpoint-medium: "only screen and (min-width: 991px)";
$breakpoint-large: "only screen and (min-width: 1200px)";

// -----------------------------------------------------------------------------
// TABS
// -----------------------------------------------------------------------------
$tab-link-active :         $color-primary;

// -----------------------------------------------------------------------------
// MISCS
// -----------------------------------------------------------------------------
$border-radius             : 4px;


// -----------------------------------------------------------------------------
// ICON FONT
// -----------------------------------------------------------------------------
$icon-archiv: "\e61b";
$icon-bin-2: "\e629";
$icon-calendar: "\e62a";
$icon-credit-card: "\e62b";
$icon-export: "\e62c";
$icon-flag-2-full: "\e62d";
$icon-flag-2-line: "\e62e";
$icon-flag-line-full: "\e62f";
$icon-flag-line: "\e630";
$icon-hammer: "\e631";
$icon-helper: "\e632";
$icon-import: "\e633";
$icon-minus: "\e634";
$icon-paper-list: "\e635";
$icon-pencil: "\e636";
$icon-plus: "\e637";
$icon-search: "\e638";
$icon-stop-circle: "\e639";
$icon-three-points-vertical: "\e63a";
$icon-world: "\e63b";
$icon-elevator: "\e628";
$icon-address-book: "\e600";
$icon-arrow-down: "\e601";
$icon-arrow-up: "\e602";
$icon-arrows-double-out: "\e603";
$icon-arrows-four-out: "\e604";
$icon-bin: "\e605";
$icon-blitz: "\e606";
$icon-boat: "\e607";
$icon-check-circle: "\e608";
$icon-check-squared: "\e609";
$icon-check: "\e60a";
$icon-clock: "\e60b";
$icon-coffee-cup: "\e60c";
$icon-company: "\e60d";
$icon-cross: "\e60e";
$icon-folder: "\e60f";
$icon-hamburger-menu: "\e610";
$icon-image: "\e611";
$icon-mail: "\e612";
$icon-map-marker: "\e613";
$icon-menu-left: "\e614";
$icon-off: "\e615";
$icon-padlock-keyhole-open: "\e616";
$icon-padlock-keyhole: "\e617";
$icon-padlock-open: "\e618";
$icon-padlock: "\e619";
$icon-paperclip: "\e61a";
$icon-pulse: "\e61c";
$icon-signal: "\e61d";
$icon-star-full: "\e61e";
$icon-star: "\e61f";
$icon-stats-full: "\e620";
$icon-stats-line: "\e621";
$icon-target: "\e622";
$icon-three-points: "\e623";
$icon-user-circle: "\e624";
$icon-user: "\e625";
$icon-warning-circle: "\e626";
$icon-warning: "\e627";
