<% provide(:title, 'Mein Konto bearbeiten') %>

<%= simple_form_for(resource, as: resource_name, url: edit_user_registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-group column-6">
    <%= f.input :first_name, label: "Vorname" %>
  </div>
  <div class="form-group column-6">
    <%= f.input :last_name, label: "Nachname" %>
  </div>

  <div class="form-group">
    <%= f.input :email, required: true, autofocus: true %>
  </div>

  <% if current_user.has_role? :admin  %>
    <div class="form-group">
      <label for="user_rolels">Rolle</label>
      <%= f.collection_select :users_roles, Role.all, :id, :name, { prompt: "Rolle hinzufügen"} %>
    </div>
  <% end %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
  <% end %>

  <div class="form-group">
    <%= f.input :password, autocomplete: "off", hint: "Lasse dieses Feld frei wenn du keine Änderungen vornehmen möchtest. ", label: "Neues Passwort", required: false %>
  </div>
  <div class="form-group">
    <%= f.input :password_confirmation, label: "Neues Passwort wiederholen", required: false %>
  </div>
  <div class="form-group">
    <%= f.input :current_password, hint: "Gebe dein aktuelles Passwort ein, um Änderungen zu speichern.", label: "Aktuelles Passwort", required: true %>
  </div>


  <div class="form-actions">
    <%= f.button :submit, "Update", value: "Änderungen speichern", class: "btn btn-success" %>
  </div>
<% end %>
