<%= simple_form_for(@task, :html => { :multipart => true }) do |f| %>

  <%= f.collection_select :category_id, Category.all, :id, :name, { prompt: "Wähle eine Kategorie"} %>

  <%= f.collection_select :status_id, Status.where(:id => 1..2), :id, :name, { prompt: "Status ändern"} %>

  <div class="form-group">
  <%= f.input :description, label: 'Beschreibung' %>
  </div>
  <% if current_user.has_any_role? :admin, :manager %>
    <div class="form-group">
      <%= f.input :due_at, label: 'Fällig am' %>
    </div>

    <div class="form-group">
      <%= f.label :name, 'Hat Priorität' %>
      <%= f.check_box :has_priority %>
    </div>

    <div class="form-group">
      <%= f.collection_select :project_id, Project.all, :id, :name, { prompt: "Projekt zuordnen"} %>
    </div>

    <div class="form-group">
      <%= f.label 'Zuständige(r) Mitarbeiter' %>
      <%= f.collection_select :user_ids, User.with_role(:employee), :id, :full_name, {}, { :multiple => true, :size => 5 } %>
    </div>

    <div class="form-group">
      <%= f.label :elevator_id, 'Anlage auswählen' %>
      <%= f.select :elevator_id, Elevator.all.map{ |c| [c.number, c.street, c.id]}, {}, multiple: false %>
    </div>
  <% end %>

  <% @task.documents.each do |document| %>
    <span class="label label-info">Rechnung</span>
    <%= link_to document.attachment_file_name, document.attachment.url %>
    <hr/>
  <% end %>

  <%= f.fields_for :documents do |document| %>
    <% if document.object.new_record? %>
      <h2>Rechnung hinzufügen</h2>
      <div class="form-group">
        <%= document.input :number, label: 'Rechnungsnummer' %>
      </div>

      <div class="form-group">
        <%= document.input :attachment, as: :file, label: 'Datei' %>
      </div>

      <div class="form-group">
        <%= document.label :supplier_id, 'Lieferant' %>
        <%= document.collection_select :supplier_id, Supplier.all, :id, :name, { prompt: "Lieferant zuordnen"} %>
      </div>

      <div class="form-group row">
      <div class="column-6">
        <%= document.input :brutto %>
      </div>
      <div class="column-6">
        <%= document.input :netto %>
      </div>
      </div>
      <div class="form-group">
        <%= document.input :due_at, label: 'Fällig am' %>
      </div>
    <% else %>


      <%#= image_tag(photo.url(:thumb)) %>
      <%#= photo.hidden_field :_destroy %>
      <%#= photo.link_to_remove "X" %>
    <% end %>
  <% end %>



  <%= f.button :submit %>
<% end %>
<script type="text/javascript">

$("#task_user_ids").select2({
  placeholder: "Mitarbeiter hinzufügen"
})
$("#task_elevator_id").select2({
  placeholder: "Wählen Sie eine Anlage aus",
})

</script>
