<% provide(:title, 'Erledigte Aufgaben') %>
<ul class="lists">
<% @tasks.each do |task| %>

        <li class="list-item">
          <div class="list-item__content">
            <h3 class="list-item__title">
              <%= link_to task.category.name, task %>
            </h3>

            <span>
                <%= task.elevator.street %>, <%= task.elevator.postal_code %> <%= task.elevator.city %>
            </span>

            <div>
              <small>
                von
                <% task.assignments.each do |assignment| %>
                  <%= assignment.user.full_name %>,
                <% end %>
                am <%= task.updated_at.strftime("%d. %B %Y") %>
              </small>
              </div>

          </div>
          <span class="label label--<%= task.status.id %>"><%= task.status.name  %></span>
        </li>






  <% end %>
  </ul>
