<nav>
  <ul class="navigation-tabs">
    <li class="navigation-link"> <%= link_to "Alle", tasks_path %></li>
    <%  Category.all.each do |category| %>
      <li class="navigation-link"><%= link_to category.name, tasks_path(category: category.name) %></li>
    <% end %>
  </ul>
</nav>

<div style="clear:both;">
  <% if can? :create, Task %>
  <div class="pull-right">
    <%= link_to 'Aufgabe anlegen', new_task_path, :class => "btn btn-primary" %>
  </div>
  <% end %>
<ul class="lists">
  <% @tasks.each do |task| %>
    <li class="list-item">
      <h2 class="list-item__title"><%= link_to task.category.name, task %></h2>
      <span class="task-is--<%= task.status.id %>"><%= task.status.name  %></span>
      <p><%= task.due_at.to_s(:short) %></p>
      <span class="task__category"><%= task.category.name %></span>

      <% if current_user && task.user == current_user %>
        <p class="list-item__meta">
         <%= link_to 'Bearbeiten', edit_task_path(task) %> | <%= link_to 'Löschen', task, method: :delete, data: { confirm: 'Are you sure?' } %>
        </p>
      <% end %>

    </li>
  <% end %>
</ul>
</div>

<% @task_months.each do |month, tasks| %>
  <h2><%= month.strftime("%B %Y") %></h2>
  <% tasks.each do |task| %>
    <p><b><%= task.category.name %></b> fällig am <%= task.due_at.to_date.to_s(:long) %></p>
  <% end %>
<% end %>

<% @task_days.each do |day, tasks| %>
  <h2><%= day.strftime("%D %Y") %></h2>
  <% tasks.each do |task| %>
    <p><b><%= task.category.name %></b> fällig am <%= task.due_at.to_date.to_s(:long) %></p>
  <% end %>
<% end %>
