<% provide(:title, "Neue Aufgabe") %>

<%= simple_form_for(@task, :html => { :multipart => true }) do |f| %>

  <div class="row ">
    <div class="column-4">
      <%= f.collection_select :category_id, Category.all, :id, :name, {}, label: 'Kategorie auswählen' %>
    </div>
    <div class="column-4">
      <%= f.collection_select :project_id, Project.all, :id, :name, { prompt: "Projekt zuordnen"} %>
    </div>
    <div class="column-4 form-icon">
      <%= f.check_box :has_priority, class: 'icon icon-flag-line' %>
      <label for="task_has_priority"></label>
    </div>
  </div>

  <div class="row form-group">
    <div class="column-6">
      <%= f.label 'Zuständige(r) Mitarbeiter' %>
      <%= f.collection_select :user_ids, User.with_role(:employee), :id, :full_name, {:include_blank => true}, { :multiple => true, :size => 5, :placeholder => 'Mitarbeiter hinzufügen' } %>
    </div>
    <div class="column-6">
      <%= f.label :elevator_id, 'Anlage auswählen' %>
      <%= f.select :elevator_id, Elevator.all.map{ |c| [c.number, c.street, c.id]}, {}, multiple: false %>
    </div>

  </div>

  <div class="row">

<%#= hidden_field_tag "task[elevator_id]", nil %>
<%#= f.input :elevator_id, as: :grouped_select, collection: @customers.order(:name).map{ |c| [c.name, c.elevators.map{ |e| [e.number + " - " + e.street] } ] }, group_method: :last, data: { placeholder: "Wählen Sie eine Anlage aus" } %>


<%#= f.grouped_collection_select :elevator_ids, Customer.all, :name, :elevators, :elevator_id, :number %>

<%#= f.grouped_collection_select(:elevators, :elevators_id, @customers, :customers, :number, :id, :name) %>
  <%#= f.input :elevators, collection: Elevator.all.map { |r| [r.number + r.street, r.id, { class: r.customer.id }] }, as: :grouped_select, group_method: :elevators  %>
<%#= f.input :elevator, collection: @customers, as: :grouped_select, group_method: :elevators  %>


  <%= f.fields_for :document do |document_fields| %>
    <%= document_fields.file_field :attachment %>
  <% end %>
  <div class="form-group">
  <%= f.input :due_at, label: 'Fällig am:' %>
  </div>

  <div class="form-group">
  <%= f.input :description, label: 'Notiz' %>
  </div>

  <%= f.button :submit, value: "Aufgabe hinzufügen", class: 'btn btn-success' %>
<% end %>

<script type="text/javascript">

$("#task_user_ids").select2({
  placeholder: "Mitarbeiter hinzufügen"
})
$("#task_elevator_id").select2({
  placeholder: "Wählen Sie eine Anlage aus",
})

</script>
