<% if @task.has_priority == true %>
  <% provide(:title, raw("<span class='icon-flag-line' style='color:orange'></span> #{@task.category.name}")) %>
<% else %>
  <% provide(:title, @task.category.name) %>
<% end %>

<% if @task.status_id == 2 %>
  <div class="stats-line" style="height:1px; background:#50a7e4;"></div>
<% elsif @task.status_id == 3 %>
  <div class="stats-line" style="height:1px; background:#50e481;"></div>
<% end %>

<div class="maincontent">
  <ul class="tabs">
    <li class="tab-link current" data-tab="tab-details">Details</li>
    <li class="tab-link" data-tab="tab-time-entries">Zeiterfassungen</li>
    <li class="dropdown">

        <span class="icon-three-points more-link dropdown-toggle panel-actions__link"></span>
        <ul class="dropdown-menu">
          <li>
            <span class="icon-image"></span>
            Dateien
          </li>
          <% if can? :update, @task %>
            <li>
              <%= link_to edit_task_path(@task) do %>
                <span class="icon-pencil"></span>
                Bearbeiten
              <% end %>
            </li>
          <% end %>

          <% if can? :delete, @task %>
            <%= link_to 'Löschen', task_path(@task), class:"icon-bin-2", method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </ul>
      </div>
    </li>
  </ul>


  <div class="tab-content current" id="tab-details">
    <div class="row">

      <div class="column-6">
            <p>
              <span class="label label--<%= @task.status.id %>"><%= @task.status.name  %></span>
            </p>
            <p><span class="icon-company" style="font-size:24px;"></span><%= @task.elevator.customer.name %></p>
            <p><span class="icon-elevator" style="font-size:24px;"></span><%= @task.elevator.number %></p>
            <p><span class="icon-map-marker" style="font-size:24px;"></span><%= @task.elevator.address %></p>

            <% unless @task.description.blank? %>
              <p><strong>Notiz:</strong><%= @task.description %></p>
            <% end %>

      </div><!-- /.column-6 -->

      <div class="column-6">

        <div class="panel">
          <% if @task.documents.size > 0 %>
            <div class="panel-heading">
              <h3>Rechnungen</h3>
            <div class="panel-body">
              <ul>
                <% @task.documents.each do |document| %>
                  <li><%= link_to document.number, document %> - <%= link_to document.supplier.name, document.supplier %></li>
                <% end %>
              </ul>
            </div>
          <% else %>
            <div class="panel-heading">
              <h3>Keine Rechnung vorhanden</h3>
            </div>
            <div class="panel-body">
              <% if can? :create, Document %>
              <p>
                <%= link_to new_document_path, class: "btn btn-primary" do  %>
                  <span class="icon-plus"></span>
                  Rechnung hinzufügen
                <% end %>
              </p>
              <% end %>
            </div>
          <% end %>
        </div><!-- /.panel -->

      </div>



        <div class="panel">
          <div class="panel-heading">
            <h4>Details</h4>
          </div>
          <div class="panel-body">
            <p><strong>Fällig am:</strong> <span class="icon-clock"></span> <%= l @task.due_at, format: :dmy %></p>
            <p><strong>Erstellt von:</strong> <%=@task.user.full_name %></p>
          </div>
        </div>

        <div class="panel">
          <div class="panel-heading">
            <h4>Mitarbeiter</h4>
          </div>
          <div class="panel-body">
            <ul class="people-list">
              <% @task.assignments.each do |assignment| %>
                <li><%= assignment.user.full_name %></li>
              <% end %>
            </ul><!-- /.people-list -->
          </div>
        </div>

        <div class="panel">
          <div class="panel-heading">
            <h4>Aktivitäten</h4>
          </div>
          <div class="panel-body">
            <ul class="">
              <% @activities.each do |activity| %>
                <li>
                  <%= activity.user.full_name %>
                  <%= render partial: "activities/#{activity.targetable_type.underscore}/#{activity.action}", locals: { activity: activity } %>
                  <small><%= 'vor ' + time_ago_in_words(activity.created_at) %></small>
                </li>
              <% end %>
            </ul>
          </div>
        </div>


      </div><!-- /.column-6 -->
    </div><!-- /.row -->
  </div><!-- /#tab-details -->


  <div class="tab-content" id="tab-time-entries">
    <div class="panel">
      <% if @task.time_entries.size > 0 %>

      <table class="table data-table">
        <thead>
          <tr>
            <th class="sorting_asc">Datum</th>
            <th>Mitarbeiter</th>
            <th>Von</th>
            <th>Bis</th>
            <th>Stunden</th>
            <th>Pause</th>
            <th>Beschreibung</th>
          </tr>
        </thead>

        <tbody>
          <% @task.time_entries.each do |time_entries| %>
            <tr>
              <td class="sorting_1"><%= l time_entries.date %></td>
              <td><%= time_entries.user.full_name %></td>
              <td><%= l time_entries.start_time, format: :hm %></td>
              <td><%= l time_entries.end_time, format: :hm %></td>
              <td><%= number_to_human(date_range(time_entries.end_time, time_entries.start_time, time_entries.break), precision: 5, separator: ',')%>
              </td>
              <td><%= break_in_words(time_entries.break) %></td>
              <td><%= time_entries.description %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% else %>
        <div class="row">
          <div class="column-12 blank-slate">
              <div class="blank-slate__icon">
                <span class="icon-clock"></span>
              </div>
              <div class="blank-slate__message">
                <b> Es wurden noch keine Arbeitszeiten erfasst</b>
                <p>Wenn Sie an dieser Aufgabe gearbeitet haben tragen Sie Ihre geleisteten Stunden bitte ein. </p>
              </div>
          </div>
        </div>
      <% end %>
    </div>

    <% if (can? :create, TimeEntry) && (assignee == true) %>
    <div class="panel-heading">
      <h3>Arbeitsstunden eintragen</h3>
    </div>
    <%= render "time_entries/form" %>
    <% end %>
  </div><!-- /#tab-2 -->


</div><!-- /.maincontent.task.panel -->



<br>

<% if (@task.assignments.map(&:user_id).include? current_user.id) && (@task.status_id != 3)%>
  <%= link_to "Aufgabe erledigen", complete_task_path(@task), class: "btn btn-success", method: :patch, data: { confirm: 'Möchten Sie wirklich diese Aufgabe beenden?' } %>
<% elsif @task.status_id == 3 %>
  <p class="" style="border-top: 1px solid #eee; text-align:center;"><span class="icon-check-circle" style="color:#50e481"></span>Aufgabe wurde erledigt</p>
<% end %>

<script type="text/javascript">

  $('.tab-link').click(function(){
    var tab_id = $(this).attr('data-tab');

    $('.tab-link').removeClass('current');
    $('.tab-content').removeClass('current');

    $(this).addClass('current');
    $("#"+tab_id).addClass('current');
  });

  $('.more-link').click(function(){
    $('.more').toggleClass('more--is-showing');
  });

  $(function() {

    initDropDowns($(".dropdown"));

  });

  function initDropDowns(allMenus) {

    allMenus.children(".dropdown-toggle").on("click", function() {

      var thisTrigger = jQuery(this),
        thisMenu = thisTrigger.parent(),
        thisPanel = thisTrigger.next();

      if (thisMenu.hasClass("open")) {

            thisMenu.removeClass("open");

            jQuery(document).off("click");
            thisPanel.off("click");

      } else {

          allMenus.removeClass("open");
        thisMenu.addClass("open");

        jQuery(document).on("click", function() {
          allMenus.removeClass("open");
        });
        thisPanel.on("click", function(e) {
          e.stopPropagation();
        });
      }

      return false;
    });
  }

  jQuery(function() {
  jQuery('.dropdown-menu li').each(function() {
    var href = jQuery(this).find('a').attr('href');
    if (href === window.location.pathname) {
      jQuery(this).addClass('current');
    }
  });
  });


</script>
