<%= simple_form_for(@elevator) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.collection_select :customer_id, Customer.all, :id, :name, { prompt: "Kunde zuordnen"} %>
  </div>

  <div class="form-group column-6">
    <%= f.input :number, :label => "Anlage-Nr." %>
  </div>
  <div class="form-group column-6">
    <%= f.input :street, :label => "Straße mit HausNr." %>
  </div>

  <div class="row">
    <div class="form-group column-6">
      <%= f.input :postal_code, :label => "Postleitzahl" %>
    </div>

    <div class="form-group column-6">
      <%= f.input :city, :label => "Stadt/Ort" %>
    </div>
  </div>


  <div class="form-actions">
    <%= f.button :submit, :value => "Anlage hinzufügen", class: 'btn btn-primary' %>
  </div>
<% end %>
