<% provide(:title, @elevator.number) %>

<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true" %>


<p>
  <strong>Straße mit HausNr.:</strong>
  <%= @elevator.street %>
</p>

<p>
  <strong>Kunde:</strong>
  <%= link_to @elevator.customer.name, @elevator.customer %>
</p>

<tbody>
  <% @elevator.tasks.each do |task| %>
    <tr>
      <td><%= task.category.name %></td>
      <td><span class="task-is--<%= task.status.id %>"><%= task.status.name  %></span>
      <p><%= task.due_at.to_s(:short) %></p>
    </tr>
  <% end %>
</tbody>

<% if can? :update, @elevator %>
  <%= link_to 'Anlage bearbeiten', edit_elevator_path(@elevator), class: 'btn btn-edit' %>
<% end %>


<div id="map-canvas"></div>

<script>
function initialize() {
var myLatlng = new google.maps.LatLng(-25.363882,131.044922);
var mapOptions = {
zoom: 4,
center: myLatlng
}
var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

var marker = new google.maps.Marker({
  position: myLatlng,
  map: map,
  title: 'Hello World!'
});
}

google.maps.event.addDomListener(window, 'load', initialize);

</script>
