// -----------------------------------------------------------------------------
// Base Badges
// -----------------------------------------------------------------------------
.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  color: $badge-text;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: $badge-bg;
  border-radius: 10px;
}


.badge-success { background-color: $badge-success-bg; color: $badge-success-text; }
