// -----------------------------------------------------------------------------
// Blank Slate
// -----------------------------------------------------------------------------

.blank-slate {
  margin: 10px 0;
  font-size: 19px;
}

  .blank-slate svg { width: 80%; display: block; margin: 0 auto; margin-bottom: 30px; }

  // The Icon in the blank slate box
  .blank-slate__icon {
    display: inline-block;
    width: 50px;
    position: relative;
  }

   .blank-slate__icon span {
     color: #4a89dc;
     font-size: 48px;
     float: left;
     margin-right: 12px;
   }

.blank-slate h2 { font-size: 18px; font-weight: bold; line-height: 25px; margin-bottom: 10px; }
  // Blank Slate text
  .blank-slate__message {
    display:block;
    margin-bottom: 30px;
  }
    .blank-slate__message p { font-size: 16px;}


/* IPAD, Desktops and large Displays ----------- */
@media only screen and (min-width : 768px) {
  .blank-slate {
    text-align: center;
  }
  .blank-slate svg {
    margin-top: 40px;
    max-width: 500px;
  }

}
