// -----------------------------------------------------------------------------
// Base Button
// -----------------------------------------------------------------------------

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

.btn {
  background: $button-default-background;
  @include rounded-corners;
  @include font-size(1.4);
  border: none;
  box-sizing: border-box;
  color: $button-text;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 9px 12px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  /* IE hacks */
  *display: inline;
  zoom: 1;

  &:hover{
    background: darken($button-default-background, 5%);
    text-decoration: none
  }
}


@media only screen and (max-width: 768px) {
    //.btn { width: 100%; }
  }

.btn-block { display: block; width: 100% }
.btn-full { display: block; }

.btn-default {
  border: 1px solid rgba(98,98,98,0.27);
  color: #1a1a1a;

}
.btn-edit {
  background-color: #626c75;
  color: #fff;
}

.btn-primary {
  background-color: $button-primary-background;
  color: $button-primary-text;

  &:hover {
    background-color: lighten($button-primary-background, 5%);
  }
  &:active,
  &:focus {
    background-color: darken($button-primary-background, 5%);
  }
}

.btn-success{
  background-color: $button-success-background;
  color: $button-success-text;

  &:hover {
    background-color: lighten($button-success-background, 5%);
  }
  &:active,
  &:focus {
    background-color: darken($button-success-background, 5%);
  }
}

.btn-danger{
  background-color: $button-danger-background;
  color: $button-danger-text;

  &:hover {
    background-color: lighten($button-danger-background, 5%);
  }
  &:active,
  &:focus {
    background-color: darken($button-danger-background, 5%);
  }
}

@media only screen and (min-width: 768px ) {
  .btn-page-settings {
    position: absolute;
    right: 20px;
    top: 20px;
  }
}


.btn-group .btn {
    position: relative;
    float: left;
    // Bring the "active" button to the front
    &:hover,
    &:focus,
    &:active,
    &.active {
      z-index: 2;
    }
  }

.btn-group {
  display: inline-block;
  margin: 0;
  padding: 0;
  position: relative;
  vertical-align: middle;
  /* IE hacks */
  zoom: 1;
  *display: inline;
}


.btn-group > .btn:first-child {
  margin-left: 0;
  &:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
// Need .dropdown-toggle since :last-child doesn't apply given a .dropdown-menu immediately after it
.btn-group > .btn:last-child:not(:first-child),
.btn-group > .dropdown-toggle:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}


.btn-group > .btn:last-child,
.btn-group li:last-child > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

// Custom edits for including btn-groups within btn-groups (useful for including dropdown buttons within a btn-group)
.btn-group > .btn-group {
  float: left;
}
.btn-group > .btn-group:not(:first-child):not(:last-child) > .btn {
  border-radius: 0;
}
.btn-group > .btn-group:first-child:not(:last-child) {
  > .btn:last-child,
  > .dropdown-toggle {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
.btn-group > .btn-group:last-child:not(:first-child) > .btn:first-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

// On active and open, don't show outline
.btn-group .dropdown-toggle:active,
.dropdown-menu.open {
  outline: 0;
}

.btn-group .btn+.btn, .btn-group .btn+.btn-group, .btn-group .btn-group+.btn,
.btn-group .btn-group+.btn-group {
    margin-left: -1px
}

// Button with Icon
.btn [class^="icon-"] { margin: 0 3px; }
