// -----------------------------------------------------------------------------
// Document Viewer for PDF's
// -----------------------------------------------------------------------------
// #http://yetti.co.uk/blog/articles/responsive-iframe-objects-and-embeds.html
.document-viewer {
    position: relative;
    padding-bottom: 56.25%; /* 16/9 ratio */
    padding-top: 30px; /* IE6 workaround*/
    height: 0;
    overflow: hidden;
}

  .document-viewer object {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}