// Prevent the focus on the dropdown toggle when closing dropdowns
.dropdown-toggle:focus,
.dropdown-menu li a:active {
  outline: 0;
}
// The dropdown menu (ul)
.dropdown-menu {
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  position: absolute;
  top: 100%;
  z-index: 1000;
  display: none; // none by default, but block on "open" of the menu
  float: left;
  min-width: 180px;
  padding: 5px 0;
  margin: 2px 0 0; // override default ul
  list-style: none;
  text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
  background-color: $dropdown-menu-bg;
  border: $dropdown-menu-border-size solid $dropdown-menu-border;
  border-radius: $dropdown-menu-border-radius;
  left: 0;
}

.is-open .dropdown-menu,
.open .dropdown-menu,
.dropdown-menu.is-open,
  .dropdown.is-open .more {
    display: block;
  }

  .dropdown-menu>li {
    padding: 0 5px;
    margin: 2px 0
  }

.dropdown-menu li .icon:first-child, .dropdown-menu li>a .icon:first-child {
    margin-right: .5em;
    width: 1em;
    text-align: center
}

.dropdown-menu>li>a {
  clear: both;
  color: $color-text;
  display: block;
  border-radius: 3px;
  font-weight: 400;
  line-height: 1.57142857;
  padding: 8px 15px;
  white-space: nowrap;
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    color: $color-text-dark;
    text-decoration: none;
    background-color: darken($dropdown-menu-bg, 3%);
}

.dropdown-menu li::after,
.dropdown-menu li::before {
  clear:both;
  content:"";
}

.dropdown-menu--right {
  right: 0;
  left: auto;
}

// Dropdown arrow/caret
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-top:   4px dashed;
  border-right: 4px solid transparent;
  border-left:  4px solid transparent;
}

/* Open and Hover styles */

.dropdown.open { z-index: 999; }
.dropdown .trigger:hover,
.dropdown.open .trigger {

}

.dropdown-menu .separator {
  border-bottom:1px solid $dropdown-seperator;
  margin-bottom: 5px;
  width: 100%;
  float:left;
  height: 1px;
}
.dropdown-menu li.current a {
  background: $dropdown-current-link-bg;
  color: $dropdown-current-link;
}

.tabs .dropdown-menu { top: auto;}
