// -----------------------------------------------------------------------------
// Forms
// -----------------------------------------------------------------------------

label {
  color: #555;
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
}

.form__field { margin-bottom: 20px; }

input,
textarea,
select {
  border: 0;
  color: $input-text;
  font-size: 19px;
  padding: 15px 0px;
  outline: none;
}

.form-group:hover { border-color: $border-hover-light; }

@media only screen and (max-width: 1024px) {
    input,
    textarea { width: 100%; }
  }


.form-group {
  background-color: #fff;
  border: 1px solid rgba(221, 221, 221, 0.7);
  border-radius: 2px;
  margin-bottom: 10px;
  overflow: hidden;
  padding: 5px 12px;
  position: relative;

}

.form-group label {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 600;
  margin: 0;
  text-transform: uppercase;
}

.form-control {
  background-color: #fff;
  color: #2c2c2c;
  display: block;
  outline: 0;
  padding: 0;
  vertical-align: middle;
}

.form-group .field_with_errors label,
.form-group .field_with_errors span { color: rgb(246, 113, 113); }
.form-group .field_with_errors span.error { display: block; }


// explain the form field content for example
// Description help: Describe your project
// Date help: z.B. "01022014" or "01.02.2014"
// Url help: http://www.google.de
.form-help {
  @include font-size(1.2);
  color: #b2b5bc;
}


/* ICON INPUT FIELDS

/*** custom checkboxes ***/

input.icon[type=checkbox] { display:none; } /* to hide the checkbox itself */
input.icon[type=checkbox] + label:before {
  font-family: 'crm-icon';
  @include font-size(2.4);
  display: inline-block;

}

input.icon[type=checkbox]:checked,
input.icon[type=radio]:checked,
input.icon[type=checkbox]:focus,
input.icon[type=radio]:focus {
  outline: none !important;
}

input.icon[type=checkbox] + label:before { letter-spacing: 10px; } /* space between checkbox and label */
input.icon[type=checkbox]:checked + label:before { letter-spacing: 10px; } /* allow space for check mark */

/* Set Icons */
/*input.icon[type=checkbox] + label:before { content: $icon-warning-circle; } /* unchecked icon */
input.icon-bin + label:before { content: $icon-bin; }
input.icon-flag-line + label:before { content: $icon-flag-line; }
input.icon[type=checkbox]:checked + label:before { content: $icon-flag-line; color:orange; } /* checked icon */
