// -----------------------------------------------------------------------------
// GRID
// -----------------------------------------------------------------------------

//  <section class="wrapper">
//    <div class="row">
//      <div class="column-3"></div>
//      <div class="column-3"></div>
//      <div class="column-6"></div>
//    </div><!-- /.row -->
//  </section><!-- /.wrapper -->

.wrapper {
  margin: 0 auto;
  width: 100%;
}

// -----------------------------------------------------------------------------
// ROWS
// -----------------------------------------------------------------------------
.row:after {
  @extend %clearfix;
}

// -----------------------------------------------------------------------------
// COLUMNS
//
// This selector says: take any element whose class contains the string column-
// and apply the following styles
// -----------------------------------------------------------------------------
[class*='column-'] {
  float: left;
  min-height: 1px; // makes sure that the column displays properly, even if it has no content
  padding: 1em; // forms the gutter and vertical space
  width: 100%; // 100% of viewport width because mobile first
}

// -----------------------------------------------------------------------------
// BREAKPOINTS
// -----------------------------------------------------------------------------
@media #{$breakpoint-medium} {
  .wrapper {
    width: 95%;
    max-width: $grid-max-width;
  }
  @for $i from 1 through $grid-max-columns {
    .column-#{$i} {
      width: 100% / $grid-max-columns * $i;
    }
  }
  .column-md-12 { width:100% }
}

@media #{$breakpoint-large} {
  @for $i from 1 through $grid-max-columns {
    .column-#{$i} {
      width: 100% / $grid-max-columns * $i;
    }
  }
}

.row:after, .row:before {
    display: table;
    content: " "
}

.row:after {
    clear: both
}
