// -----------------------------------------------------------------------------
// Base Label
// -----------------------------------------------------------------------------
.label { 
  border: 1px solid #ddd;
  border-radius: 1.1em;
  color: #bbb;
  display: inline;
  @include font-size(1.1);
  font-weight: bold;
  margin-left: 6px;
  padding: .313em .688em;
  position: relative;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

/* in Progress */ 
.label--2 { border: 1px solid #50a7e4; color: #50a7e4; }

/* is finished */
.label--3 { border: 1px solid #50e481; color: #50e481; }


// -----------------------------------------------------------------------------
// List Label
// -----------------------------------------------------------------------------
.list-item .label { display:inline-block; text-align:center; vertical-align: middle;}


