// -----------------------------------------------------------------------------
// Base List
// -----------------------------------------------------------------------------
.lists { background: #fff; }
.list-group { background: #f8f8f8; color: #666; @include font-size(1.6); padding: 10px 1%; }
.list-group--overdue { color: red; }
.list-item {
  border-bottom: 1px solid #ebebeb;
  display: table;
  padding: 20px 2%;
  position: relative;
  width: 100%;
}
.list-item:last-child { border: 0; }

  .list-item__content {
    display: table-cell;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .list-item__content h3 { display: table-cell; vertical-align: middle; }

  .list-item__content > span { color: lighten($color-text-dark, 30%); }
  .list-item__title { color: $color-text-dark; @include font-size(1.6); font-weight: 400; }
  .list-item__title a { color: $color-text-dark; }
  .list-item__meta {
    position:absolute;
    right: 2%;
    top: 40%;
  }

/* Task States */
.list-item--1 { border-left: 5px solid #fff; display:block; } /* state is open */
.list-item--3 { border-left: 5px solid #50e481; display:block; } /* is finished */
.list-item--2 { border-left: 5px solid #50a7e4;  display:block; } /* state is in progress */

.people-list li {
  border-radius: 4px;
  padding: 10px 10px;
}
.people-list li:hover {
  background: #ebf2fb;
  color: #328ff1;
}

.activity-user { color: #666; float: left; }
.activity-title::after { clear: both; }
.activity-timestamp {
  color: #999;
  font-size: 11px;
  margin-left: 5px;
  width: 100px;
}

.list--horizontal li { float: left; }
