
.navigation-tabs:after,
.navigation-tabs:before {
  clear:both;
}
.navigation-tabs:before {
  display: table;
  content: " ";
}

.navigation-tabs { 
  background: rgba(255,255,255,.9);
  padding-left: 0;
  border-bottom: 1px solid #ddd;
  display:inline-block;
  width:100%;

}
  .navigation-tabs > li {
    float: left;
    display: block;
    position: relative;
  }
 .navigation-tabs > li:last-child { border-right: none; }
 .navigation-tabs > li:first-child { border-bottom: 2px solid $button-default-background ; }
 .navigation-tabs > li:first-child a { color: $button-default-background ; } 

  .navigation-tabs > li > a {
    position: relative;
    color: #444;
    display: block;
    padding: 10px 15px;
  }
