// -----------------------------------------------------------------------------
// Notices
// -----------------------------------------------------------------------------

.notice {
  border: 1px solid transparent;
  @include font-size(1.6);
  margin-bottom: 22px;
  padding: 15px 2%;
}

.notice--success { background-color: $notice-success-bg; color: $notice-success-text; }
.notice--warning { background-color: $notice-warning-bg; color: $notice-text; }
.notice--error { background-color: $notice-error-bg; color: $notice-error-text; border-color: $notice-error-border-color; }
