.panel {
  background-color: #fff;
  border: 1px solid #e9e9e9;
  margin-bottom: 20px;
  min-height: 30px;
  position: relative;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

  .panel-heading {
    padding: 20px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    position: relative;
  }

.panel:before {
    content: " ";
    display: table;
  }
.panel:after {
    content: " ";
    display: table;
  }

/* Short title on small devices */
.panel-title {
  padding-right: 20px; // for ellipsis and three-points link
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.panel-body {
  position: relative;
  padding: 30px 20px;
}

.panel-heading+.panel-body {
    padding-top: 0;
}

.panel-body .h1:first-child,
.panel-body .h2:first-child,
.panel-body .h3:first-child,
.panel-body .h4:first-child,
.panel-body .h5:first-child,
.panel-body .h6:first-child,
.panel-body h1:first-child,
.panel-body h2:first-child,
.panel-body h3:first-child,
.panel-body h4:first-child,
.panel-body h5:first-child,
.panel-body h6:first-child {
    margin-top: 0
}

.panel-body>:last-child {
    margin-bottom: 0
}

.panel-body>.list-group-dividered:only-child>.list-group-item:last-child {
    border-bottom-color: transparent
}

.panel-actions {
  position: absolute;
  right: 20px;
  top: 40px;
  -webkit-transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  -o-transform: translate(0,-50%);
  transform: translate(0,-50%);
  margin: auto;
  z-index: 1;
}

  .panel-actions .dropdown { display:inline-block; }
  .panel-actions__link {
    font-size:2.4rem;
    display: inline-block;
    padding: 0 0;
    color: #a3afb7;
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
  }
