// -----------------------------------------------------------------------------
// Progressbars
// -----------------------------------------------------------------------------

progress {
  /* Reset the default appearance */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  background-color: $progressbar-bg;
  /* Get rid of default border in Firefox. */
  border: none;
  border-radius: $progressbar-border-radius;
  /* Dimensions */
  width: 100%;
  height: $progressbar-height;

  /* For IE10 */
  color: $progressbar-bg;
}

progress::-webkit-progress-value {
    background: $progressbar-value;

    border-radius: $progressbar-border-radius;
}

progress::-webkit-progress-bar {
  background-color: $progressbar-bg;
  border-radius: $progressbar-border-radius;
}
progress::-moz-progress-bar {
  background: $progressbar-value;

    border-radius: $progressbar-border-radius;
}

.stats-line {
  position:fixed;
  top: 47px;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  z-index: 9999;
}
.stats-line progress {
  border-radius: 0;
  height: 1px;
  margin: 0;
  padding:0;
  vertical-align: top;
  z-index: 9999;
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 768px) {
  .stats-line { left: 60px; }
}
/* Desktops and laptops ----------- */
@media only screen and (min-width : 1025px) {
  .stats-line { left: 280px; }
}
