table { background-color:transparent; }

.table { border:none; margin-bottom: 20px; margin-top: 5px; width:100%; }

.table thead tr th {
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  padding: 14px 18px;
  vertical-align: middle;
  border-bottom: 1px solid rgba(230,230,230,.7);
  color: rgba(44,44,44,.35);
  text-align: left;
}

.table tbody tr td {
  border-bottom: 1px solid rgba(230,230,230,0.7);
  border-top: 0px;
  color: #626262;
  padding: 20px;
  font-size: 13.5px;
}

.table thead th[class*='sorting_'] { color: #2c2c2c; }
.table tbody tr td[class*='sorting_'] { color: #2c2c2c; font-weight: bold; }

.table thead th[class*='sorting_disabled']  {color: rgba(44,44,44,.35);}

.table>tbody>tr>td {
  line-height: 1.42857143;
  vertical-align: top;
}

tbody tr:hover,
.data-table tbody tr:hover { background-color: $table-bg-hover; }

.data-table {
  border-collapse: separate;
  border-spacing: 0;
  margin: 0 auto 30px;;
}
// horizontal scroll without breaking the layout
@media screen and (max-width: 991px) {
  table {
    overflow-x: auto;
    display: block;
  }
}

.data-table span.icon-bin:hover,
.data-table span.icon-bin-2:hover { color: $color-danger; }
.data-table span.icon-pencil:hover { color: $color-primary;}

.table .icon-padlock { float: left; padding-right: 10px; }


 th a {
  background-repeat: no-repeat;
  background-position: center right;
}
th a { padding-right: 20px;background-image: url(/assets/sort_both.png); }
th .current {
  background-repeat: no-repeat;
  background-position: right center;
}
th .asc {
  background-image: url(/assets/sort_asc.png);
}

th .desc {
  background-image: url(/assets/sort_desc.png);
}

table.dataTable thead .sorting {
  background-image: url(/assets/sort_both.png);
}

table.dataTable thead .sorting_asc_disabled {
  background-image: url(/assets/sort_asc_disabled.png);
}
table.dataTable thead .sorting_desc_disabled {
  background-image: url(/assets/sort_desc_disabled.png);
}
