// -----------------------------------------------------------------------------
// TABS
// -----------------------------------------------------------------------------
ul.tabs li {
  background: none;
  border-right: 1px solid #efefef; //border-bottom: 2px solid #efefef;
  color: #777;
  cursor: pointer;
  display: inline-block;
  padding: 5px 15px;
}


  ul.tabs li:last-child {
    border-right: none;
  }

  //active tab link
  //ul.tabs li.current { border-color: $tab-link-active; color: #222; }
  ul.tabs li.current { color: $tab-link-active; }
    
    //hide tab content
    .tab-content { display: none; padding: 15px; }
    
    //show active tab content
    .tab-content.current { display: inherit; }

.more-link {}
.more { 
  background-color: #fff;
  border: 1px solid #efefef;
  display: none; 
  right: 0;
  margin: 0;
  padding: 10px 15px;
  position: absolute;
  z-index: 10;
}
.more--is-showing { display: block; }