.task__category {
  color: #ccc;
  display:block;
  font-family: 'Lato', sans-serif;
  font-size: .85em;
  font-weight: 300;
  margin-bottom: 10px;
  text-transform: uppercase;
}

/* is open */
.task--is-1 {
  border-radius: 4px;
  clear:both;
  border: 1px solid #ddd;
  color: #bbb;
  padding: 4px 10px;
  vertical-align: super;
  white-space: nowrap;
}

/* in work */
.task--is-2 {
  border-radius: 4px;
  clear:both;
  border: 1px solid #50a7e4;
  padding: 4px 10px;
  color: #50a7e4;
  vertical-align: super;
  white-space: nowrap;
}

/* is finished */
.task--is-3 {
  border-radius: 4px;
  clear:both;
  border: 1px solid #50e481;
  color: #50e481;
  padding: 4px 10px;
  vertical-align: super;
}

.column-4.form-icon { text-align: center;}
