// -----------------------------------------------------------------------------
// Widgets - shows statistics, datas and charts in smart boxes
// -----------------------------------------------------------------------------

.widget {
  background-color: #fff;
  border:1px solid #efefef;
  margin-bottom: 30px;
  padding: 25px;
  position: relative;
}

.widget__numbers { text-align: center; }
.widget__value { @include font-size(3.2); }
.widget__title { text-transform: uppercase; text-overflow: ellipsis; overflow: hidden;
white-space: nowrap; }

[class^="widget--"],
[class*=" widget--"] { border: 0;}
.widget--one { background-color: #4dabe7; color: #fff; }
.widget--two { background-color: #8cd481; color: #fff; }
.widget--three { background-color: #e9595b; color: #fff; }
.widget--four { background-color: #926dde; color: #fff; }
