<% provide(:title, "#{@user.full_name}") %>
<div class="maincontent panel">
  <%= simple_form_for(@user) do |f| %>
    <%= f.error_notification %>
    <div class="form-group">
    <%= f.input :email, required: true, autofocus: true %>
    </div>
    <div class="form-group column-6">
      <%= f.input :first_name %>
    </div>
    <div class="form-group column-6">
      <%= f.input :last_name %>
    </div>

    <div class="form-group">
      <%= f.label 'Rolle hinzufügen ' %>
      <%= f.collection_select :role_ids, Role.all, :id, :name, {}, { :multiple => true, :size => 3 } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, :value => "Änderungen speichern", :class => "btn-edit" %>
    </div>
  <% end %>
</div>
