<div class="maincontent">
  <%= link_to 'Neuen Mitarbeiter anlegen', new_user_registration_path, class: 'btn btn-primary' %>
  <h1>Accounts</h1>
  <table class="table data-table">
    <thead>
      <tr>
        <th>Vorname</th>
        <th>Nachname</th>
        <th>Email</th>
        <th>Role</th>
        <th colspan="2">Funktionen</th>
      </tr>
    </thead>

    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%=  user.last_name %></td>
        <td><%=  user.email %></td>
        <td>
          <% user.users_roles.each do |user_role| %>
            <%= user_role.role.name %>
          <% end %>
        </td>
        <td><%= link_to 'Bearbeiten', edit_user_path(user) %></td>
        <td><%= link_to 'Löschen', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

</div><!-- /.maincontent -->
