<% provide(:title, 'Neuen Mitarbeiter anlegen') %>
<div class="maincontent panel">

<%= simple_form_for @user do |f| %>

  <div class="form-group">
    <%= f.input :email, required: true, autofocus: true %>
  </div>

  <div class="form-group column-6">
  <%= f.input :first_name, label: 'Vorname' %>
  </div>
  <div class="form-group column-6">
  <%= f.input :last_name, label: 'Nachname' %>
  </div>

  <div class="form-group">
    <%= f.label 'Rolle hinzufügen' %>
    <%= f.collection_select :role_ids, Role.all, :id, :name, {}, { :multiple => true, :size => 3, :required => true} %>
  </div>

  <div class="form-group">
    <%= f.input :password, label: 'Passwort', required: true, hint: ("#{@minimum_password_length} characters minimum" if @validatable) %>
  </div>
  <div class="form-group">
    <%= f.input :password_confirmation, label: 'Passwort bestätigen', required: true %>
  </div>

  <%= f.button :submit, :value => "Account anlegen", :class => "btn-success" %>
<% end %>

</div><!-- /.maincontent.panel -->
