<%= simple_form_for(@customer) do |f| %>
  <%= f.error_notification %>

    <div class="form-group">
      <%= f.input :name, placeholder: 'Firmenname', label: 'Kunden-/Firmenname' %>
    </div>

    <div class="form-group">
      <%= f.input :address, label: 'Adresse', placeholder: 'Straße mit Hausnummer' %>
    </div>

    <div class="row">
      <div class="form-group column-6">
        <%= f.input :postal_code, label: 'Postleitzahl', :as => :tel  %>
      </div>

      <div class="form-group column-6">
        <%= f.input :city, label: 'Stadt' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.select :contact_form, %w{Herr Frau}, :contact_form => true %>
      <%= f.input :contact_name, label: 'Kontaktname' %>
    </div>

    <div class="form-group">
     <%= f.input :caretaker, label: 'Hausmeister' %>
    </div>


  <div class="form-actions">
    <%= f.button :submit, value: "Kunde hinzufügen", class: 'btn btn-success' %>
  </div>
<% end %>
