<% provide(:title, @customer.name) %>

  <div class="maincontent">
    <p id="notice"><%= notice %></p><!-- /.notice -->

    <div class="panel-heading">
      <p><%= @customer.address %></p>
      <p><%= @customer.postal_code %> <%= @customer.city %></p>
    </div><!-- /.panel-heading -->

    <p>
      <strong>Kontakt:</strong>
      <%= @customer.contact_form %>
      <%= @customer.contact_name %>
    </p>

    <p>
      <strong>Hausmeister:</strong>
      <%= @customer.caretaker %>
    </p>

    <p>
      <h2>Anlagen insgesamt:</h2>
      <%= @customer.elevators.count %>
    </p>

    <ul>
      <% @customer.elevators.each do |elevators| %>
        <li style="border-bottom: 1px solid #888;"><span>Elevator number:</span> <%= link_to elevators.number, elevators %>
          <p><span>Elevator Street:</span> <%= elevators.street %></p>
        </li>
      <% end %>
    </ul>

  </div>
