<% provide(:title, 'Eingang') %>
<div class="" style="margin-top:47px;">
    <% if @tasks_overdue.size > 0 %>
      <div class="list-group list-group--overdue"><span class="icon-warning-circle"></span><%= pluralize(@tasks_overdue.size, 'überfällige Aufgabe', 'überfällige Aufgaben') %>.</div>
      <ul class="lists">
        <% @tasks_overdue.each do |task| %>
          <li class="list-item">
            <div class="list-item__content">
              <h3 class="list-item__title">
                <% if task.has_priority %>
                 <span class="icon-flag-line"></span>
                 <% end %>
                <%= link_to task.category.name, task %>
              </h3>


                  <span class="icon-map-marker"></span><%= task.elevator.street %>, <%= task.elevator.postal_code %> <%= task.elevator.city %>


            </div>
            <% if task.status.id != 1 %>
              <span class="label label--<%= task.status.id %>"><%= task.status.name  %></span>
            <% end  %>
          </li>
        <% end %>
      </ul>
    <% end %>

    <% if @tasks_with_priority.size > 0 %>
      <div class="list-group"><%= pluralize(@tasks_with_priority.size, 'wichtige Aufgabe', 'wichtige Aufgaben') %>.</div>
      <ul class="lists">
        <% @tasks_with_priority.each do |task| %>
          <li class="list-item">
            <div class="list-item__content">
              <h3 class="list-item__title">
                <% if task.has_priority %>
                 <span class="icon-flag-line"></span>
                 <% end %>
                <%= link_to task.category.name, task %>
              </h3>


              <span class="icon-map-marker"></span><%= task.elevator.street %>, <%= task.elevator.postal_code %> <%= task.elevator.city %>


            </div>
            <% if task.status.id != 1 %>
              <span class="label label--<%= task.status.id %>"><%= task.status.name  %></span>
            <% end  %>
          </li>
        <% end %>
      </ul>
    <% end %>

    <% @task_days.each do |day, tasks| %>
      <% if day.today? %>
        <div class="list-group">Heute, <%= l day, format: :dm %></div>
      <% else %>
        <div class="list-group"><%= l day, format: :dm %></div>
      <% end %>

      <ul class="lists">
        <% tasks.each do |task| %>

          <li class="list-item">
            <div class="list-item__content">
              <h3 class="list-item__title">
                <% if task.has_priority %>
                 <span class="icon-flag-line"></span>
                 <% end %>
                <%= link_to task.category.name, task %>
              </h3>


              <span class="icon-map-marker"></span><%= task.elevator.street %>, <%= task.elevator.postal_code %> <%= task.elevator.city %>


            </div>
            <% if task.status.id != 1 %>
              <span class="label label--<%= task.status.id %>"><%= task.status.name  %></span>
            <% end  %>
          </li>
        <% end %>
      </ul>
    <% end %>


</div>
