<% provide(:title, "Berichte") %>
<div class="maincontent">
  <div class="widget">
    <div class="b-tile__number">
      <%= @tasks.count %>
    </div>
    <h3>Aufgaben</h3>
  </div><!-- Statistic: All Task in DB -->

  <div class="widget widget--two">
    <div class="b-tile__number">
      <%= @users.count %>
    </div>
    <h3>Mitarbeiter</h3>
  </div><!-- Statistic: All User Accounts in DB -->

  <div class="widget widget--three">
    <div class="b-tile__number">
      <%= @customers.count %>
    </div>
    <h3>Kunden</h3>
  </div><!-- Statistic: All Customers in DB -->

  <div class="widget widget--four">
    <div class="b-tile__number">
      <%= @projects.count %>
    </div>
    <h3>Projekte</h3>
  </div><!-- Statistic: All Projects in DB -->

  <div class="widget">
    <div class="b-tile__number">
      <%= @tasks_yesterday = Task.where(created_at: (Date.today.midnight - 1.day)..Date.today.midnight).count %>
    </div>
    <h3>Aufgaben</h3>
    <p>Gestern erstellt</p>
  </div><!-- Statistic: All Tasks there are created yesterday  in DB -->
</div>
