<table class="table data-table">
  <thead>
    <tr>
      <th>Rechnungsnummer</th>
      <th>Lieferant</th>
      <th>Fällig am</th>
      <th>Skonto</th>
    </tr>
  </thead>

  <tbody>

    <% @documents.where(is_unlocked: true, is_paid: false).each do |document| %>
      <tr>
        <td>
          <h3 class="list-item__title"><%= link_to document.number, document_path(document) %></h3>
        </td>
        <td>
          <%= document.supplier.name %>
        </td>
        <td>
          <%= l(document.due_at, :format => :default) %>
        </td>
        <td>
          <% if document.has_skonto == true %>
           <span class="icon-check" style="color: #1ac81c; font-size:2.4rem"></span>
          <% end  %>
        </td>
      </tr>
    <% end %>

  </tbody>

</table>
