<div class="toolbar row">
  <div class="column-8">
    <div class="btn-group dropdown">
      <%= link_to 'Alle', documents_path, :class => "btn btn-default" %>
      <button type="button" class="btn btn-default dropdown-toggle">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <%= link_to unlocked_documents_path do %>
            Freigegeben
            <!--<span class="badge"><%= @documents.unlocked.count %></span>-->
          <% end %>
        </li>
        <li>
          <%= link_to locked_documents_path do %>
            Nicht freigegeben
            <!-- <span class="badge"><%= @documents.locked.count %></span> -->
          <% end %>
        </li>
        <li>
          <%= link_to unpaid_documents_path do %>
            Nicht bezahlt
            <!-- <span class="badge"><%= @documents.unlocked_and_not_paid.count %></span> -->
          <% end %>
        </li>
      </ul><!-- /.dropdown-menu -->
    </div><!-- /.btn-group -->
  </div><!-- /.column-8 -->

  <div class="column-4">
    <%= link_to 'Rechnung hinzufügen', new_document_path, :class => "btn btn-primary pull-right" %>
  </div>
</div>

<table class="table data-table" >
  <thead>
    <tr>
      <th><%= sortable "number", "Rechnungsnummer" %></th>
      <th><%= sortable "supplier_id", "Lieferant" %></th>
      <th><%= sortable "due_at", "Fälligkeit" %></th>
      <th><%= sortable "has_skonto", "Skonto" %></th>
      <th><%= sortable "is_paid", "Gebucht" %></th>
      <th>Funktionen</th>
    </tr>
  </thead>

  <tbody>

    <% @documents.each do |document| %>
      <tr>
        <td>
          <% if document.is_unlocked == false %>
           <span class="icon-padlock" style="color: #ffcd38"></span>
          <% end  %>
          <!--<span class="label"><%= document.attachment_content_type %></span> -->
          <%= link_to document.number, document_path(document) %>
        </td>
        <td>
          <%= document.supplier.name %>
        </td>
        <td>
          <%= l(document.due_at, :format => :long) %>
        </td>
        <td>
          <% if document.has_skonto == true %>
           <span class="icon-check" style="color: #1ac81c; font-size:2.4rem"></span>
          <% end  %>
        </td>
        <td>
          <% if document.is_paid == true %>
           <span class="icon-check" style="color: #1ac81c; font-size:2.4rem"></span>
          <% end  %>
        </td>
        <td>
          <% if can? :update, document %>
            <%= link_to edit_document_path(document) do %>
              <%= content_tag :span, "", :class => "icon-pencil" %>
            <% end %>
          <% end %>
        </td>

      </tr>
    <% end %>

  </tbody>

</table>

<%= page_entries_info @documents %>
<%= will_paginate @documents, inner_window: 1, outer_window: 0 %>

<script type="text/javascript">

$(function() {

  initDropDowns($(".dropdown"));

});

function initDropDowns(allMenus) {

  allMenus.children(".dropdown-toggle").on("click", function() {

    var thisTrigger = jQuery(this),
      thisMenu = thisTrigger.parent(),
      thisPanel = thisTrigger.next();

    if (thisMenu.hasClass("open")) {

          thisMenu.removeClass("open");

          jQuery(document).off("click");
          thisPanel.off("click");

    } else {

        allMenus.removeClass("open");
      thisMenu.addClass("open");

      jQuery(document).on("click", function() {
        allMenus.removeClass("open");
      });
      thisPanel.on("click", function(e) {
        e.stopPropagation();
      });
    }

    return false;
  });
}

jQuery(function() {
jQuery('.dropdown-menu li').each(function() {
  var href = jQuery(this).find('a').attr('href');
  if (href === window.location.pathname) {
    jQuery(this).addClass('current');
  }
});
});


</script>
