<% provide(:title, "Rechnung bearbeiten") %>


  <%= simple_form_for(@document) do |f| %>

    <% if @document && @document.attachment? %>
      <span class="label label-info">Attachment</span>
      <%= link_to @document.attachment_file_name, @document.attachment.url %>
      <hr/>
    <% end %>

    <div class="form-group">
      <%= f.input :number, label: 'Rechnungsnummer' %>
    </div>

    <div class="form-group">
      <%= f.input :attachment, as: :file, label: 'Datei' %>
    </div>

    <div class="form-group">
      <%= f.label :supplier_id, 'Lieferant' %>
      <%= f.collection_select :supplier_id, Supplier.all, :id, :name, { prompt: "Lieferant zuordnen"} %>
    </div>

    <div class="form-group">
      <% documentable_collection = Project.all.map{|x| ["Projekt: "+ x.name, "Project:#{x.id}"]} + Task.all.map{|x| [x.category.name + ': ' + x.elevator.number.to_s + ' ' + x.elevator.customer.name, "Task:#{x.id}"]} %>
      <p>Wähle ein Projekt oder eine Aufgabe aus denen Sie eine Rechnung hinzufügen möchten.</p>
      <%= f.select(:documentable, documentable_collection,:selected =>" #{f.object.documentable_type}:#  {f.object.documentable_id}" ) %>
    </div>

    <% if current_user.has_role? :admin %>
    <div class="form-group">
      <%= f.label :name, 'Für Buchhaltung freigeben' %>
      <%= f.check_box :is_unlocked %>
    </div>

    <div class="form-group">
      <%= f.label :name, 'Bezahlt' %>
      <%= f.check_box :is_paid %>
    </div>
    <% end %>

    <div class="form-group">
      <%= f.input :due_at, label: 'Fällig am' %>
    </div>

    <div class="form-group row">
    <div class="column-6">
      <%= f.input :brutto %>
    </div>
    <div class="column-6">
      <%= f.input :netto %>
    </div>
    </div>
    <div class="form-group">
      <%= f.label :name, 'Skonto' %>
      <%= f.check_box :has_skonto %>
    </div>
    <div class="form-group">
      <%= f.input :tax %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, :value => "Änderungen speichern", class: 'btn btn-success' %>
    </div>
  <% end %>



<div class="row">
  <div class="column-12" style="background-color: #ffffcf;">
    <h4>Debug:</h4>
    <%= debug @document %>
  </div>
</div>
