<%# provide(:title,  @document.number) %>
<% provide(:title, raw("#{@document.number}<span class='dropdown-toggle caret'></span> <ul class='dropdown-menu'><li><a href='#'>Test</a></li></ul>")) %>
<div class="row" style="">
  <div class="column-6">
    <hgroup>
      <h2><%= @document.supplier.name %></h2>

      <% if @document.is_paid == true %>
        <h4><span class="is--paid" style="text-decoration:line-through;"><%= l(@document.due_at, :format => :long) %></span> <span style="color: #1ac81c;">bezahlt</span></h4>
      <% else %>
        <h4>Fällig am <%= l(@document.due_at, :format => :long) %></h4>
      <% end %>
    </hgroup>
  </div><!-- /.column-6 -->

  <%# if @document.project_id != nil %>
  <div class="column-6" style="text-align:right;">
    <span class="icon-folder" style="font-size: 2rem; display:block; line-height: 3.2rem;"><%#= link_to @document.documentable.name, @document.documentable %></span>
    <p>
      <%#= @document.documentable.customer.name %>
    </p>
  </div><!-- /.column-6 -->
  <%# else %>
    Kein Projekt zugeordnet
  <%# end %>

</div><!-- /.row -->

<div class="row">
  <div class="column-3">
    <p style="text-align: center">
      <span style="font-size: 2.2rem; font-weight: 600;"><%= number_to_currency(@document.brutto, precision: 2, locale: :de) %></span>
      <span style="display: block;  margin-top: 8px;">Brutto</span>
    </p>
  </div><!-- /.column-3 -->

  <div class="column-3">
    <p style="text-align: center">
      <span style="font-size: 2.2rem; font-weight: 600;"><%= number_to_currency(@document.netto, precision: 2, locale: :de) %></span>
      <span style="display: block; margin-top: 8px;">Netto</span>
    </p>
  </div><!-- /.column-3 -->

  <div class="column-3">
   <p style="text-align: center">
     <%  @document_sum_netto = @document.brutto - @document.netto %>
     <span style="font-size: 2.2rem; font-weight: 600;"><%= number_to_currency(@document_sum_netto, precision: 2, locale: :de) %></span>
     <span style="display: block; margin-top: 8px;">Steuerbetrag</span>
   </p>
 </div><!-- /.column-3 -->

  <div class="column-3">
    <p style="text-align: center">
      <% if @document.has_skonto == true %>
        <span class="icon-check" style="color: #1ac81c; font-size:2.4rem"></span>
        <span style="display: block; margin-top: 8px;">Skonto</span>
      <% else %>
        <span class="" style="color: #c81a1a; font-size:2.4rem">x</span>
        <span style="display: block; margin-top: 8px;">Skonto</span>
      <% end  %>
    </p>

  </div><!-- /.column-3 -->
</div>

<div class="row">
  <div class="column-12">
    <% if @document.attachment_content_type == "application/pdf" %>

      <div class="document-viewer">
        <object data="<%= @document.attachment.url %>" type="application/pdf">
          alt : <%= image_tag @document.attachment.url %>
        </object>
      </div><!-- /.document-viewer"-->
    <% else %>
      <%= image_tag @document.attachment.url(:large) %>
    <% end %>
  </div><!-- /.column-12 -->

  <%= link_to 'Download', @document.attachment.url(:original, false), :download => @document.number %> Größe (<%= number_to_human_size(@document.attachment_file_size, precision: 2, separator: ',')  %>)

</div><!-- /.row -->

<div class="row">
  <div class="column-12">
    <% if (current_user.has_role? :admin) & (@document.is_unlocked == false) %>
      <%= link_to "Rechnung freigeben", unlock_document_path(@document), class: "btn btn-success", method: :patch %>

    <% end %>
  </div>
</div>

<div class="row">
  <div class="column-12" style="background-color: #ffffcf;">
    <h4>Debug:</h4>
    <%= debug @document %>
  </div>
</div><!-- /.row -->

<script type="text/javascript">
  $( ".dropdown-toggle" ).click(function() {
    $( ".dropdown-menu" ).toggleClass( "is-open" );
  });
</script>
