<%= simple_form_for(@project, :html => { :multipart => true }) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.input :name, label: 'Name' %>
  </div>
  <div class="form-group">
    <%= f.input :description, label: 'Beschreibung' %>
  </div>
  <div class="form-group row">
    <div class="column-6">
      <%= f.input :start_date, label: 'Startdatum' %>
    </div>
    <div class="column-6">
      <%= f.input :end_date, label: 'Enddatum' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.input :planned_hours, label: 'Geplante Stunden'%>
  </div>

  <div class="form-group">
    <%= f.collection_select :customer_id, Customer.all, :id, :name, { prompt: "Kunde zuordnen"} %>
  </div>

  <% @project.documents.each do |document| %>
    <span class="label label-info">Rechnung</span>
    <%= link_to document.attachment_file_name, document.attachment.url %>
    <hr/>
  <% end %>

  <%= f.fields_for :documents do |document| %>
    <% if document.object.new_record? %>
      <h2>Rechnung hinzufügen</h2>
      <div class="form-group">
        <%= document.input :number, label: 'Rechnungsnummer' %>
      </div>

      <div class="form-group">
        <%= document.input :attachment, as: :file, label: 'Datei' %>
      </div>

      <div class="form-group">
        <%= document.label :supplier_id, 'Lieferant' %>
        <%= document.collection_select :supplier_id, Supplier.all, :id, :name, { prompt: "Lieferant zuordnen"} %>
      </div>

      <div class="form-group row">
      <div class="column-6">
        <%= document.input :brutto %>
      </div>
      <div class="column-6">
        <%= document.input :netto %>
      </div>
      </div>
      <div class="form-group">
        <%= document.input :due_at, label: 'Fällig am' %>
      </div>
    <% end %>
  <% end %>

  <%= f.button :submit, value: "Projekt hinzufügen", class: 'btn btn-success'  %>
<% end %>
