<% provide(:title, 'Projekte') %>

<% if @projects.size > 0 %>

<div class="maincontent">

  <% if can? :create, Project %>
  <div class="row">
    <div class="pull-right">
      <%= link_to 'Projekt anlegen', new_project_path, class: 'btn btn-primary' %>
    </div>
  </div>
  <% end %>

  <div class="row">
      <% @projects.each do |project| %>
        <div class="column-4">
          <div class="panel">
            <div class="panel-heading">
              <hgroup>
                <h3 class="panel-title"><%= link_to project.name.titleize, project %> </h3>
                <p><%= project.customer.name %></p>
              </hgroup>

                <% if can? :manage, @project %>
                  <div class="panel-actions">
                    <div class="dropdown">
                      <span class="icon-three-points more-link dropdown-toggle panel-actions__link"></span>
                      <ul class="dropdown-menu dropdown-menu--right" style="">
                        <% if can? :edit, @project %>
                          <li>
                            <%= link_to edit_project_path(project) do %>
                              <span class="icon-pencil"></span>
                              Bearbeiten
                            <% end %>
                          </li>
                        <% end %>

                        <% if can? :delete, @project %>
                          <li>
                            <%= link_to project, method: :delete, data: { confirm: 'Are you sure?' } do %>
                              <span class="icon-bin-2" style="color:red;"></span>
                              Löschen
                            <% end %>
                          </li>
                        <% end %>
                      </ul>
                    </div><!-- /.dropdown -->
                  </div><!-- /.panel-actions -->
                <% end %>

            </div>

            <div class="panel-body">
              <span><%= l project.start_date, format: :default %> - </span>
              <span><%= l project.end_date, format: :default %></span>
              <div class="pull-right">
                <p>
                  <%= project.tasks.finished.count %>/<%= project.tasks.count %>
                  <span class="icon-paper-list"></span>
                </p>
              </div>
              <div class="">
                <progress value="<%= project.tasks.finished.count %>" max="<%= project.tasks.all.count %>" width="100%"></progress>
              </div>
            </div>

          </div><!-- /.panel -->
        </div><!-- /.column-4 -->
      <% end %>
  </div><!-- /.row -->
</div><!-- /.maincontent -->

<% else %>

<div class="row">
  <div class="column-12 blank-slate">
    <div class="">

    <svg version="1.1" id="Ebene_2" viewBox="0 0 382 203">
     <path fill="#E4E4E4" d="M182,12c0,2.209-1.791,4-4,4H4c-2.209,0-4-1.791-4-4V4c0-2.209,1.791-4,4-4h174c2.209,0,4,1.791,4,4V12z"/>
     <path fill="#979797" d="M82.082,56.011c0,2.209-1.791,4-4,4H4c-2.209,0-4-1.791-4-4v-8c0-2.209,1.791-4,4-4h74.082
c2.209,0,4,1.791,4,4V56.011z"/>
     <path fill="#F4F4F4" d="M382,93.417c0,2.209-1.791,4-4,4H4c-2.209,0-4-1.791-4-4v-8c0-2.209,1.791-4,4-4h374c2.209,0,4,1.791,4,4
V93.417z"/>
     <path fill="#FFFAC2" d="M382,128.443c0,2.209-1.791,4-4,4H4c-2.209,0-4-1.791-4-4v-8c0-2.209,1.791-4,4-4h374c2.209,0,4,1.791,4,4
V128.443z"/>
     <path fill="#F4F4F4" d="M382,163.443c0,2.209-1.791,4-4,4H4c-2.209,0-4-1.791-4-4v-8c0-2.209,1.791-4,4-4h374c2.209,0,4,1.791,4,4
V163.443z"/>
     <path fill="#F4F4F4" d="M382,198.482c0,2.209-1.791,4-4,4L4,202.443c-2.209,0-4-1.791-4-4v-8c0-2.209,1.791-4,4-4l374,0.039
c2.209,0,4,1.791,4,4V198.482z"/>
     <path fill="#979797" d="M182,55.989c0,2.209-1.791,4-4,4h-74.082c-2.209,0-4-1.791-4-4v-8c0-2.209,1.791-4,4-4H178
c2.209,0,4,1.791,4,4V55.989z"/>
     <path fill="#979797" d="M282.021,55.989c0,2.209-1.791,4-4,4h-74.082c-2.209,0-4-1.791-4-4v-8c0-2.209,1.791-4,4-4h74.082
c2.209,0,4,1.791,4,4V55.989z"/>
     <path fill="#979797" d="M382,55.985c0,2.207-1.789,3.996-3.996,3.996h-74.008c-2.207,0-3.996-1.789-3.996-3.996v-7.992
c0-2.206,1.789-3.996,3.996-3.996h74.008c2.207,0,3.996,1.79,3.996,3.996V55.985z"/>
     <path fill="#F4F4F4" d="M382,12c0,2.209-1.791,4-4,4h-66c-2.209,0-4-1.791-4-4V4c0-2.209,1.791-4,4-4h66c2.209,0,4,1.791,4,4V12z"/>
    </svg>


    </div>

    <div class="blank-slate__message">
      <h2>Hier werden Ihnen alle Projekte angezeigt</h2>
      <p>Erstellen Sie ein Projekt indem Sie auf den Button klicken.</p>
    </div>
    <% if can? :create, @project %>
      <%= link_to 'Projekt erstellen', new_project_path, :class => "btn btn-primary" %>
    <% end %>
  </div>

</div>

<% end %>

<script type="text/javascript">

$(function() {

  initDropDowns($(".dropdown"));

});

function initDropDowns(allMenus) {

  allMenus.children(".dropdown-toggle").on("click", function() {

    var thisTrigger = jQuery(this),
      thisMenu = thisTrigger.parent(),
      thisPanel = thisTrigger.next();

    if (thisMenu.hasClass("open")) {

          thisMenu.removeClass("open");

          jQuery(document).off("click");
          thisPanel.off("click");

    } else {

        allMenus.removeClass("open");
      thisMenu.addClass("open");

      jQuery(document).on("click", function() {
        allMenus.removeClass("open");
      });
      thisPanel.on("click", function(e) {
        e.stopPropagation();
      });
    }

    return false;
  });
}

jQuery(function() {
jQuery('.dropdown-menu li').each(function() {
  var href = jQuery(this).find('a').attr('href');
  if (href === window.location.pathname) {
    jQuery(this).addClass('current');
  }
});
});


</script>
