<% provide(:title, "#{@project.name.titleize}") %>
<div class="stats-line">
  <progress value="<%= @project.tasks.finished.count %>" max="<%= @project.tasks.all.count %>" width="100%"></progress>
</div>



        <%
          @tasks_finished =  @project.tasks.finished.count.to_f
          @tasks_all      =  @project.tasks.count.to_f
          @tasks_active   =  @project.tasks.active.count
          if @tasks_all > 0
            @tasks_completed_in_percentage  =  number_to_percentage((@tasks_finished / @tasks_all) * 100, precision: 0)
          end
         %>

         <%#=  @tasks_completed_in_percentage %>
         <%#= @tasks_all %>
         <%#= @tasks_finished %>
         <%#= (@tasks_finished/@tasks_all)*100 %>
         <%#= @tasks_finished/@tasks_all %>

  <div class="row">
    <div class="column-6">
      <div class="panel">
        <div class="panel-heading">
          <h3>Aufgaben</h3>
        </div>
        <ul class="lists">
          <% @project.tasks.each do |task| %>
            <li class="list-item">
              <div>
                <%= link_to task.category.name, task %>
                <% if task.status_id == 3 %>
                  <span class="label label--3">erledigt</span>
                  <p>
                    erledigt am <%= l task.due_at, format: :dmy %>
                  </p>
                <% else %>
                  <p><span>Fällig:</span> <%= l task.due_at, format: :dmy %></p>
                <% end %>
              </div>
            </li>
          <% end %>
        </ul>
      </div><!-- /.panel -->
    </div><!-- /.column-6 -->





    <div class="column-6">
      <div class="panel">
        <% if @project.documents.size > 0 %>
          <div class="panel-heading">
            <h3>Rechnungen</h3>
            <div class="panel-actions">
              <div class="dropdown">
                <span class="icon-three-points more-link dropdown-toggle panel-actions__link"></span>
                <ul class="dropdown-menu dropdown-menu--right" style="">
                  <li>
                    <a href="/projects/8/edit">
                      <span class="icon-pencil"></span>
                      Bearbeiten
                    </a>
                  </li>

                  <li>
                    <a data-confirm="Are you sure?" data-method="delete" href="/projects/8" rel="nofollow">
                      <span class="icon-bin-2" style="color:red;"></span>
                      Löschen
                    </a>
                  </li>
                </ul>
              </div><!-- /.dropdown -->
            </div><!-- /.panel-actions -->
          </div><!-- /.panel-heading -->
          <div class="panel-body">
          <ul>
            <% @project.documents.each do |document| %>
              <li><%= link_to document.number, document %> - <%= link_to document.supplier.name, document.supplier %></li>
            <% end %>
          </ul>
        <% else %>
          <div class="panel-heading">
            <h3>Keine Rechnung vorhanden</h3>
          </div>
          <div class="panel-body">
            <% if can? :create, Document %>
            <p>
              <%= link_to new_document_path, class: "btn btn-primary" do  %>
                <span class="icon-plus"></span>
                Rechnung hinzufügen
              <% end %>
            </p>
            <% end %>
          </div>
        <% end %>
      </div><!-- /.panel -->

      <div class="panel">
        <div class="panel-heading"><h4>Details</h4></div>
        <div class="panel-body">
          <p>
            <strong>Fällig am:</strong>
            <span><%= l @project.end_date, format: :default %></span>
          </p>
          <p>
            <strong>Kunde:</strong>
            <%= link_to @project.customer.name, customer_path(@project.customer) %>
          </p>
          <p>
            <strong>Kontakt:</strong>
            <%= @project.customer.contact %>
          </p>
          <% if current_user.has_role? :admin %>
            <p>
              <strong>Geplante Stunden:</strong>
              <%= number_with_precision(@project.planned_hours, precision: 2) %>
            </p>
            <p>
              <strong>Geleistete Stunden:</strong>
              <%= number_with_precision(@project.time_entries.sum('hours'), precision: 2)  %>
            <% end %>
          </p>



        </div>
      </div>
    </div><!-- /.column-6 -->
  </div><!-- /.row -->

<%= link_to 'Projekt bearbeiten', edit_project_path(@project) %>
</div>

<script type="text/javascript">

$(function() {

  initDropDowns($(".dropdown"));

});

function initDropDowns(allMenus) {

  allMenus.children(".dropdown-toggle").on("click", function() {

    var thisTrigger = jQuery(this),
      thisMenu = thisTrigger.parent(),
      thisPanel = thisTrigger.next();

    if (thisMenu.hasClass("open")) {

          thisMenu.removeClass("open");

          jQuery(document).off("click");
          thisPanel.off("click");

    } else {

        allMenus.removeClass("open");
      thisMenu.addClass("open");

      jQuery(document).on("click", function() {
        allMenus.removeClass("open");
      });
      thisPanel.on("click", function(e) {
        e.stopPropagation();
      });
    }

    return false;
  });
}

jQuery(function() {
jQuery('.dropdown-menu li').each(function() {
  var href = jQuery(this).find('a').attr('href');
  if (href === window.location.pathname) {
    jQuery(this).addClass('current');
  }
});
});


</script>
