<div class="login-container">
<h1>CRM</h1>
<p>Melden Sie sich mit Ihrem Konto an</p>
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, required: false, autofocus: true, :class => 'form__control' %>
  </div>
  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, required: false, :class => 'form__control' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Anmelden", :class => "btn-primary" %>
  </div>

  <div>
    <%= f.input :remember_me, :class => "form__control", as: :boolean if devise_mapping.rememberable?%>
  </div>
<% end %>

<%= render "devise/shared/links" %>

</div>
