<p><strong>Commenter:</strong><%= time_entry.user.first_name %></p>

<p><strong>Comment:</strong><%= time_entry.hours %></p>
<p><%= link_to 'Destroy Time Entry', [time_entry.task, time_entry],method: :delete,
           data: { confirm: 'Are you sure?' } %>
</p> 