<% provide(:title, "Zeiteinträge") %>
<div class="maincontent">
  <% if can? :create, TimeEntry %>
    <div class="pull-right">
      <%= link_to 'Neuer Zeiteintrag', new_time_entry_path, class: 'btn btn-primary' %>
    </div>
  <% end %>


  <div class="row">
    <% @time_entries.each do |time_entry| %>
      <div class="panel column-12 ">
        <hgroup>
          <h3><%= link_to time_entry.task.category.name, time_entry.task %> </h3>
          <p><%= time_entry.user.full_name %></p>
          <p><%= time_entry.description %></p>
        </hgroup>
        <div>
          <span><%= l time_entry.date, format: :default %></span>
          <span><%= time_entry.hours %>h</span>
          <span><%= l time_entry.start_time, format: :hm %></span> - <span><%= l time_entry.end_time, format: :hm %></span>
          <p>
            <% if can? :edit, TimeEntry %>
              <%= link_to 'Bearbeiten', edit_time_entry_path(time_entry) %>
            <% end %>
            <% if can? :delete, TimeEntry %>
              <%= link_to 'Löschen', time_entry, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </p>
        </div>
      </div>
    <% end %>
  </div><!-- /.row -->
</div><!-- /.maincontent -->
