<div class="maincontent">
<h1>New Time Entry</h1>
<p>new.html.erb</p>

<%= simple_form_for @time_entry do |f| %>
  <div class="form-group">
      <%= f.collection_select :task_id, Task.all, :id, :id, {}, label: 'Task auswählen' %>
  </div>

    <div class="row form-group">
    <div class="column-4">
    <%= f.input :start_time, label: 'Startzeit', as: :time, :minute_step => 15 %>
    </div>
    <div class="column-4">
    <%= f.input :end_time, label: 'Endzeit', as: :time, :minute_step => 15 %>
    </div>
    <div class="column-4">
    <%= f.label :name, 'Pausenzeit' %>
    <%= f.select :break, options_for_select([["Keine Pause", "0"], ["30 Minuten", "0.5"], ["45 Minuten", "0.75"], ["1 Stunde", "1"]]) %>
    </div>
  </div>

  <div class="form-group">
  <%= f.input :date, label: 'Arbeitstag', as: :date %>
  </div>
  <div class="form-group">
  <%= f.input :description, label: 'Notiz' %>
  </div>


  <%= f.submit "Arbeitsstunden eintragen", class: 'btn btn-primary' %>
<% end %>

<%= link_to "Zurück", time_entries_path %>
</div>
