<h1><%= link_to @time_entry.task.category.name, @time_entry.task %></h1>
<p><span>Arbeitsstunden:</span> <%= @time_entry.hours %></p>
<p><span>Datum:</span> <%= @time_entry.date %></p>
<p><span>User:</span> <%= @time_entry.user.full_name %></p>
<p>
<span>Beschreibung:</span>
  <%= @time_entry.description %>
</p>

<%= link_to 'Alle Einträge', time_entries_path %>