<% provide(:title, 'Aktivitätsverlauf') %>

<% if @activities.size > 0 %>

<ol class="list">
<% @activities.each do |activity| %>
  <li class="list-item">
    <div class="activity-body">
      <span class="activity-user"><%= activity.user.full_name %>&nbsp;</span>
      <div class="activity-title">
        <%= render partial: "activities/#{activity.targetable_type.underscore}/#{activity.action}", locals: { activity: activity } %>
      </div>
      <span class="activity-timestamp"><%= 'vor ' + time_ago_in_words(activity.created_at) %></span>
    </div>
  </li>
<% end %>
</ol>

<% else %>

<div class="row">
  <div class="column-12 blank-slate">
    <div class="">

    <svg version="1.1" id="Ebene_2" viewBox="0 0 382 203">
     <path fill="#E4E4E4" d="M182,12c0,2.209-1.791,4-4,4H4c-2.209,0-4-1.791-4-4V4c0-2.209,1.791-4,4-4h174c2.209,0,4,1.791,4,4V12z"/>
     <path fill="#979797" d="M82.082,56.011c0,2.209-1.791,4-4,4H4c-2.209,0-4-1.791-4-4v-8c0-2.209,1.791-4,4-4h74.082
c2.209,0,4,1.791,4,4V56.011z"/>
     <path fill="#F4F4F4" d="M382,93.417c0,2.209-1.791,4-4,4H4c-2.209,0-4-1.791-4-4v-8c0-2.209,1.791-4,4-4h374c2.209,0,4,1.791,4,4
V93.417z"/>
     <path fill="#FFFAC2" d="M382,128.443c0,2.209-1.791,4-4,4H4c-2.209,0-4-1.791-4-4v-8c0-2.209,1.791-4,4-4h374c2.209,0,4,1.791,4,4
V128.443z"/>
     <path fill="#F4F4F4" d="M382,163.443c0,2.209-1.791,4-4,4H4c-2.209,0-4-1.791-4-4v-8c0-2.209,1.791-4,4-4h374c2.209,0,4,1.791,4,4
V163.443z"/>
     <path fill="#F4F4F4" d="M382,198.482c0,2.209-1.791,4-4,4L4,202.443c-2.209,0-4-1.791-4-4v-8c0-2.209,1.791-4,4-4l374,0.039
c2.209,0,4,1.791,4,4V198.482z"/>
     <path fill="#979797" d="M182,55.989c0,2.209-1.791,4-4,4h-74.082c-2.209,0-4-1.791-4-4v-8c0-2.209,1.791-4,4-4H178
c2.209,0,4,1.791,4,4V55.989z"/>
     <path fill="#979797" d="M282.021,55.989c0,2.209-1.791,4-4,4h-74.082c-2.209,0-4-1.791-4-4v-8c0-2.209,1.791-4,4-4h74.082
c2.209,0,4,1.791,4,4V55.989z"/>
     <path fill="#979797" d="M382,55.985c0,2.207-1.789,3.996-3.996,3.996h-74.008c-2.207,0-3.996-1.789-3.996-3.996v-7.992
c0-2.206,1.789-3.996,3.996-3.996h74.008c2.207,0,3.996,1.79,3.996,3.996V55.985z"/>
     <path fill="#F4F4F4" d="M382,12c0,2.209-1.791,4-4,4h-66c-2.209,0-4-1.791-4-4V4c0-2.209,1.791-4,4-4h66c2.209,0,4,1.791,4,4V12z"/>
    </svg>


    </div>

    <div class="blank-slate__message">
      <h2>Momentan gibt es keine Aktivitäten</h2>
    </div>

  </div>

</div>

<% end %>
