<%= simple_form_for(@supplier) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.input :name %>
  </div>
  <div class="form-group">
    <%= f.select :contact_form, %w{Herr Frau}, :contact_form => true %>
    <%= f.input :contact_name %>
  </div>
  <div class="form-group">
    <%= f.input :address %>
  </div>
  <div class="form-group">
    <%= f.input :postal_code %>
  </div>
  <div class="form-group">
    <%= f.input :city %>
  </div>
  <div class="form-group">
    <%= f.input :region %>
  </div>
  <div class="form-group">
    <%= f.input :phone %>
  </div>
  <div class="form-group">
    <%= f.input :fax %>
  </div>
  <div class="form-group">
    <%= f.input :email %>
  </div>
  <div class="form-group">
    <%= f.input :website %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, value: "Lieferant anlegen", class: 'btn btn-success'  %>
  </div>
<% end %>
