<% provide(:title, "Lieferanten") %>

<% if @suppliers.size > 0 %>

<div class="maincontent">
  <div class="pull-right">
    <%= link_to 'Lieferant anlegen', new_supplier_path, :class => "btn btn-primary" %>
  </div>

  <table class="table data-table">
    <thead>
      <tr>
        <th class="sorting_asc">Name</th>
        <th>Ansprechpartner</th>
        <th>Adresse</th>
        <th>Postfach</th>
        <th>Ort</th>
        <th>Bundesland</th>
        <th>Telefon</th>
        <th>Fax</th>
        <th>Email</th>
        <th>Webseite</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @suppliers.each do |supplier| %>
      <tr>
        <td class="sorting_1"><%= supplier.name %></td>
        <td><%= supplier.contact_form %> <%= supplier.contact_name %></td>
        <td><%= supplier.address %></td>
        <td><%= supplier.postal_code %></td>
        <td><%= supplier.city %></td>
        <td><%= supplier.region %></td>
        <td><%= supplier.phone %></td>
        <td><%= supplier.fax %></td>
        <td><%= supplier.email %></td>
        <td><%= supplier.website %></td>
        <td><%= link_to 'Anzeigen', supplier %></td>
        <td><%= link_to 'Bearbeiten', edit_supplier_path(supplier) %></td>
        <td><%= link_to 'Löschen', supplier, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table><!-- /.table.data-table -->
</div><!-- /.maincontent.panel -->

<% else %>

<div class="row">
  <div class="column-12 blank-slate">
    <div class="">

    <svg version="1.1" id="Ebene_2" viewBox="0 0 382 203">
     <path fill="#E4E4E4" d="M182,12c0,2.209-1.791,4-4,4H4c-2.209,0-4-1.791-4-4V4c0-2.209,1.791-4,4-4h174c2.209,0,4,1.791,4,4V12z"/>
     <path fill="#979797" d="M82.082,56.011c0,2.209-1.791,4-4,4H4c-2.209,0-4-1.791-4-4v-8c0-2.209,1.791-4,4-4h74.082
c2.209,0,4,1.791,4,4V56.011z"/>
     <path fill="#F4F4F4" d="M382,93.417c0,2.209-1.791,4-4,4H4c-2.209,0-4-1.791-4-4v-8c0-2.209,1.791-4,4-4h374c2.209,0,4,1.791,4,4
V93.417z"/>
     <path fill="#FFFAC2" d="M382,128.443c0,2.209-1.791,4-4,4H4c-2.209,0-4-1.791-4-4v-8c0-2.209,1.791-4,4-4h374c2.209,0,4,1.791,4,4
V128.443z"/>
     <path fill="#F4F4F4" d="M382,163.443c0,2.209-1.791,4-4,4H4c-2.209,0-4-1.791-4-4v-8c0-2.209,1.791-4,4-4h374c2.209,0,4,1.791,4,4
V163.443z"/>
     <path fill="#F4F4F4" d="M382,198.482c0,2.209-1.791,4-4,4L4,202.443c-2.209,0-4-1.791-4-4v-8c0-2.209,1.791-4,4-4l374,0.039
c2.209,0,4,1.791,4,4V198.482z"/>
     <path fill="#979797" d="M182,55.989c0,2.209-1.791,4-4,4h-74.082c-2.209,0-4-1.791-4-4v-8c0-2.209,1.791-4,4-4H178
c2.209,0,4,1.791,4,4V55.989z"/>
     <path fill="#979797" d="M282.021,55.989c0,2.209-1.791,4-4,4h-74.082c-2.209,0-4-1.791-4-4v-8c0-2.209,1.791-4,4-4h74.082
c2.209,0,4,1.791,4,4V55.989z"/>
     <path fill="#979797" d="M382,55.985c0,2.207-1.789,3.996-3.996,3.996h-74.008c-2.207,0-3.996-1.789-3.996-3.996v-7.992
c0-2.206,1.789-3.996,3.996-3.996h74.008c2.207,0,3.996,1.79,3.996,3.996V55.985z"/>
     <path fill="#F4F4F4" d="M382,12c0,2.209-1.791,4-4,4h-66c-2.209,0-4-1.791-4-4V4c0-2.209,1.791-4,4-4h66c2.209,0,4,1.791,4,4V12z"/>
    </svg>


    </div>

    <div class="blank-slate__message">
      <h2>Hier werden Ihnen alle Lieferanten angezeigt</h2>
      <p>Erstellen Sie ein Lieferanten indem Sie auf den Button klicken.</p>
    </div>
    <% if can? :create, @supplier %>
      <%= link_to 'Lieferant erstellen', new_supplier_path, :class => "btn btn-primary" %>
    <% end %>
  </div>

</div>

<% end %>
