<% provide(:title, @supplier.name) %>
<div class="maincontent">
  <p id="notice"><%= notice %></p>

  <div class="panel-heading">
    <h2><%= @supplier.name %></h2>
    <p><%= @supplier.contact_form %> <%= @supplier.contact_name %></p>
    <p><%= @supplier.address %></p>
    <p><%= @supplier.postal_code %> <%= @supplier.city %></p>
    <p><%= @supplier.region %></p>
  </div>
  <%= link_to 'Lieferant bearbeiten', edit_supplier_path(@supplier), :class => "btn btn-default btn-page-settings" %>
  <div>
    <p><strong>Telefon:</strong> <%= @supplier.phone %></p>
    <p><strong>Fax:</strong> <%= @supplier.fax %></p>
    <p><strong>Fax:</strong> <%= @supplier.email %></p>
    <p><strong>Webseite:</strong> <%= @supplier.website %></p>
  </div>

  <%= link_to 'Alle Lieferanten anzeigen', suppliers_path %>
</div><!-- /.maincontent.panel -->
