<nav class="globalsidebar" style="">
  <div class="globalsidebar-header">
    <div class="globalsidebar-brand">
      <span style="font-size:20px;">CRM</span>
        <%#= current_user.full_name %>
        <%#= current_user.roles.first.name %>
    </div>
  </div><!-- /.sidebar-header -->

  <div class="sidebar-menu lists-scroll">
    <nav class="mainnavigation" role="navigation">
      <h4 class="mainnavigation-label">Navigation</h4>
      <ul style="">
        <% if user_signed_in? %>

          <% if current_user.has_role? :employee %>
            <li class="menu-item">
              <%= link_to root_path, class: active_class?(root_path) do %>
                <span class="icon-calendar">
                </span>
                <span class="menu-item__text">Eingang</span>
              <% end %>
            </li>

            <li class="menu-item">
              <%= link_to tasks_path, class: active_class?(tasks_path) do %>
                <span class="icon-paper-list"></span>
                <span class="menu-item__text">Alle</span>
              <% end %>
            </li>

            <li class="menu-item">
              <%= link_to active_tasks_path, class: active_class?(active_tasks_path) do %>
                <span class="icon-hammer"></span>
                <span class="menu-item__text">In Bearbeitung</span>
              <% end %>
            </li>

            <li class="menu-item">
              <%= link_to open_tasks_path, class: active_class?(open_tasks_path) do %>
                <span class="icon-blitz">
                </span>
                <span class="menu-item__text">Offen</span>
              <% end %>
            </li>

            <li class="menu-item">
              <%= link_to finished_tasks_path, class: active_class?(finished_tasks_path) do %>
                <span class="icon-check-circle" style="color:#50e481">
                </span>
                <span class="menu-item__text">Erledigt</span>
              <% end %>
            </li>

            <li class="menu-item">
              <%= link_to projects_path, class: active_class?(projects_path) do %>
                <span class="icon-folder"></span>
                <span class="menu-item__text">Projekte</span>
              <% end %>
            </li>

            <li class="menu-item">
              <%= link_to time_entries_path, class: active_class?(time_entries_path) do %>
                <span class="icon-clock"></span>
                <span class="menu-item__text">Zeiterfassung</span>
              <% end %>
              </li>
          <% end %>

          <% if current_user.has_role? :accountant %>
            <li class="menu-item">
              <%= link_to documents_path, class: active_class?(documents_path) do %>
                <span class="icon-paperclip"></span>
                <span class="menu-item__text">Rechnungen</span>
              <% end %>
            </li>
          <% end %>

          <% if current_user.has_any_role? :admin, :manager %>
            <li class="menu-item">
              <%= link_to dashboard_index_path, class: active_class?(dashboard_index_path) do %>
                <span class="icon-target"></span>
                <span class="menu-item__text">Dashboard</span>
              <% end %>
            </li>
            <li class="menu-item">
              <%= link_to dashboard_tasks_path, class: active_class?(dashboard_tasks_path) do %>
                <span class="icon-paper-list"></span>
                <span class="menu-item__text">Aufgaben</span>
              <% end %>
            </li>
            <li class="menu-item">
              <%= link_to dashboard_timeentries_path, class: active_class?(dashboard_timeentries_path) do %>
                <span class="icon-clock"></span>
                <span class="menu-item__text">Zeiteinträge</span>
              <% end %>
            </li>
            <li class="menu-item">
              <%= link_to projects_path, class: active_class?(projects_path) do %>
                <span class="icon-folder"></span>
                <span class="menu-item__text">Projekte</span>
              <% end %>
            </li>
            <li class="menu-item">
              <%= link_to documents_path, class: active_class?(documents_path) do %>
                <span class="icon-paperclip"></span>
                <span class="menu-item__text">Rechnungen</span>
              <% end %>
            </li>
            <li class="menu-item">
              <%= link_to elevators_path, class: active_class?(elevators_path) do %>
                <span class="icon-elevator"></span>
                <span class="menu-item__text">Anlagen</span>
              <% end %>
            </li>
            <li class="menu-item">
              <%= link_to customers_path, class: active_class?(customers_path) do %>
                <span class="icon-company"></span>
                <span class="menu-item__text">Kunden</span>
              <% end %>
            </li>
            <li class="menu-item">
              <%= link_to suppliers_path, class: active_class?(suppliers_path) do %>
                <span class="icon-boat"></span>
                <span class="menu-item__text">Lieferanten</span>
              <% end %>
            </li>
            <li class="menu-item">
              <%= link_to dashboard_users_path, class: active_class?(dashboard_users_path) do %>
                <span class="icon-user"></span>
                <span class="menu-item__text">Mitarbeiter</span>
              <% end %>
            </li>
          <% end %>

          <% if current_user.has_role? :admin %>
            <li class="menu-item">
              <%= link_to stats_path, class: active_class?(stats_path) do %>
                <span class="icon-stats-line"></span>
                <span class="menu-item__text">Berichte</span>
              <% end %>
            </li>
            <li class="menu-item">
              <%= link_to activities_path, class: active_class?(activities_path) do %>
                <span class="icon-pulse"></span>
                <span class="menu-item__text">Activity Feed</span>
              <% end %>
            </li>

            <!--
            <li class="menu-item">
              <%= link_to roles_path, class: active_class?(roles_path) do%>
                <span class="icon-roles"></span>
                <span class="menu-item__text">Rollen</span>
              <% end %>
            </li>
            -->

          <% end %>

          <li class="menu-item">
            <%= link_to edit_user_registration_path, class: active_class?(edit_user_registration_path) do %>
              <span class="icon-user-circle"></span>
              <span class="menu-item__text">Mein Konto</span>
            <% end %>
          </li>

          <li class="menu-item">
            <%= link_to destroy_user_session_path, method: :delete do %>
              <span class="icon-off"></span>
              <span class="menu-item__text">Abmelden</span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </nav><!-- /.mainnavigation -->
  </div><!-- /.sidebar-menu -->
</nav><!-- /.globalsidebar -->
