<header class="globalheader">
    <!--<span><a href="#" id="sidenav--toggle">☰</a></span>-->
    <h3 class="globalheader-title"><%= pages_title(yield(:title)) %></h3>
</header><!-- /.globalheader -->
