<!DOCTYPE html>
<html>
<head>
  <title>Taskmanager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
</head>
<body>

<% if notice %>
  <p class="notice notice--success"><%= notice %></p>
<% elsif alert %>
  <p class="notice notice--error"><%= alert %></p>
<% end %>

<div class="maincontent">
  <%= yield %>
</div>


</body>
</html>