<!DOCTYPE html>
<html>
<head>
  <title>Taskmanager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
</head>
<body>

  <%= render 'layouts/globalsidebar' %>

  <section class="page-container">
    <%= render 'layouts/globalheader' %>

    <div class="page-content-wrapper">

        <% if notice %>
          <p class="notice notice--success"><%= notice %></p>
        <% elsif alert %>
          <p class="notice notice--error"><%= alert %></p>
        <% end %>

        <%= yield %>

    </div><!-- /.page-content-wrapper -->
    <div class="offcanvas">
    <div class="sidebar-right">
      <div class="offcanvas-head">
        <header class="text-primary">
          <ul>
            <li style="float:left;"><a href="#">Kunden</a></li>
            <li style="float:left;"><a href="#">Lieferanten</a></li>
            <li><a href="#">Mitarbeiter</a></li>
            </header>
        <div class="offcanvas-tools">
          <a class="btn btn-icon-toggle btn-default-light pull-right" data-dismiss="offcanvas">
            <i class="md md-close"></i>
          </a>
        </div>
      </div>
      <div class="sidebar-right-content">
        <div class="scroll">
          <ul class="list ">
            <li class="tile divider-full-bleed">
              <div class="tile-content">
                <div class="tile-text"><strong>A</strong></div>
              </div>
            </li>
            <li class="tile">
              <a class="tile-content ink-reaction" href="#offcanvas-chat" data-toggle="offcanvas" data-backdrop="false">
                <div class="tile-icon">
                  <img src="#" alt="">
                </div>
                <div class="tile-text">
                  <ul>
                    <% @customers.each do |customer| %>
                      <li style="border-bottom: 1px solid #888;"><%= link_to customer.name, customer %>
                      <p><%= customer.address %></p>
                      <p><%= customer.contact_form %> <%= customer.contact_name %></p>
                      <small>030/123-3210</small>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div><!-- /.sidebar-right -->
    </div>

  <div id="mobile-menu-button"><span class="icon-hamburger-menu"></span></div><!-- /.mobile-menu-button -->
  </section><!-- /.page-container -->


  <script>
    $(window).resize(function() {
      var windowwidth = $(window).width();

      if (windowwidth > '991') {
         $('body').removeClass('globalsidebar--open');
      }
    });

    $('#mobile-menu-button').click(function() {
      $('body').toggleClass('globalsidebar--open');
    });
  </script>
</body>
</html>
